/* CSS Document */
.icon{ float:left; width:120px; height:100px; display:inline-block; background:url(all_icon.png) no-repeat;}
.icon_20_40{ width:20px; height:40px;}
.icon_20_20{ width:20px; height:20px;}
.icon_63_90{ width:63px; height:90px;}
.icon_60_54{ width:60px; height:54px;}
.icon_35_68{ width:35px; height:68px;}
.icon_50_50{ width:50px; height:50px;}
.icon_82_36{ width:82px; height:36px;}
.icon_80_80{ width:80px; height:80px;}
.icon_72_132{ width:72px; height:132px;}
.icon_90_130{ width:90px; height:130px;}
.icon_322_84{ width:322px; height:84px;}
.icon_500_100{ width:500px; height:100px;}
.icon_176_80{ width:176px; height:80px;}
.icon01{ background-position:-20px -20px;}
.icon02{ background-position:-150px -20px;}
.icon03{ background-position:-280px -20px;}
.icon04{ background-position:-410px -20px;}
.icon05{ background-position:-540px -20px;}
.icon06{ background-position:-670px -20px;}
.icon07{ background-position:-800px -20px;}
.icon08{ background-position:-930px -20px;}
.icon09{ background-position:-1060px -20px;}
.icon10{ background-position:-20px -140px;}
.icon11{ background-position:-150px -140px;}
.icon12{ background-position:-280px -140px;}
.icon13{ background-position:-410px -140px;}
.icon14{ background-position:-540px -140px;}
.icon15{ background-position:-670px -140px;}
.icon16{ background-position:-800px -140px;}
.icon17{ background-position:-930px -140px;}
.icon18{ background-position:-1060px -140px;}
.icon19{ background-position:-20px -260px;}
.icon20{ background-position:-150px -260px;}
.icon21{ background-position:-280px -260px;}
.icon22{ background-position:-410px -260px;}
.icon23{ background-position:-540px -260px;}
.icon24{ background-position:-670px -260px;}
.icon25{ background-position:-20px -390px;}
.icon26{ background-position:-150px -390px;}
.icon27{ background-position:-280px -390px;}
.icon28{ background-position:-410px -390px;}
.icon29{ background-position:-540px -390px;}
.icon30{ background-position:-670px -390px;}
.icon31{ background-position:-800px -390px;}
.icon32{ background-position:-930px -390px;}
.icon33{ background-position:-1060px -390px;}
.icon34{ background-position:-20px -540px;}
.icon35{ background-position:-150px -540px;}
.icon36{ background-position:-280px -540px;}

.icon37{ background-position:-439px -540px;}
.icon38{ background-position:-569px -540px;}
.icon39{ background-position:-699px -540px;}
.icon40{ background-position:-829px -540px;}

.icon41{ background-position:-930px -558px;}
.icon42{ background-position:-1016px -558px;}
.icon43{ background-position:-1100px -558px;}

.icon44{ background-position:-20px -660px;}
.icon45{ background-position:-150px -660px;}
.icon46{ background-position:-280px -660px;}
.icon47{ background-position:-410px -660px;}
.icon48{ background-position:-540px -660px;}
.icon49{ background-position:-670px -660px;}
.icon50{ background-position:-800px -660px;}
.icon51{ background-position:-930px -660px;}
.icon52{ background-position:-1060px -660px;}
.icon53{ background-position:-20px -780px;}
.icon54{ background-position:-150px -780px;}
.icon55{ background-position:-280px -780px;}
.icon56{ background-position:-410px -780px;}
.icon57{ background-position:-540px -780px;}
.icon58{ background-position:-670px -780px;}
.icon59{ background-position:-800px -780px;}
.icon60{ background-position:-930px -780px;}
.icon61{ background-position:-1060px -780px;}
.icon62{ background-position:-20px -900px;}
.icon63{ background-position:-150px -900px;}
.icon64{ background-position:-280px -900px;}
.icon65{ background-position:-410px -900px;}
.icon66{ background-position:-540px -900px;}
.icon67{ background-position:-670px -900px;}
.icon68{ background-position:-800px -900px;}
.icon69{ background-position:-930px -900px;}
.icon70{ background-position:-1060px -900px;}
.icon71{ background-position:-20px -1030px;}
.icon72{ background-position:-90px -1030px;}
.icon73{ background-position:-160px -1030px;}
.icon74{ background-position:-230px -1030px;}
.icon75{ background-position:-315px -1030px;}
.icon76{ background-position:-431px -1030px;}

.icon77{ background-position:-560px -1030px;}
.icon78{ background-position:-690px -1030px;}
.icon79{ background-position:-820px -1030px;}
.icon80{ background-position:-950px -1030px;}
.icon81{ background-position:-1080px -1030px;}

.icon82{ background-position:-20px -1130px;}
.icon83{ background-position:-140px -1130px;}
.icon84{ background-position:-260px -1130px;}
.icon85{ background-position:-380px -1130px;}
.icon86{ background-position:-517px -1130px;}
.icon87{ background-position:-654px -1130px;}
.icon88{ background-position:-800px -1130px;}
.icon89{ background-position:-20px -1282px;}
.icon90{ background-position:-540px -1282px;}
.icon91{ background-position:-20px -1402px;}

.icon92{ background-position:-20px -1532px;}
.icon93{ background-position:-150px -1532px;}
.icon94{ background-position:-280px -1532px;}
.icon95{ background-position:-410px -1532px;}
.icon96{ background-position:-540px -1532px;}
.icon97{ background-position:-670px -1532px;}

.icon98{ background-position:-20px -1652px;}
.icon99{ background-position:-230px -1652px;}
.icon100{ background-position:-440px -1652px;}
.icon101{ background-position:-590px -1402px;}
.icon102{ background-position:-639px -1402px;}
.icon103{ background-position:-686px -1402px;}
.icon104{ background-position:-734px -1402px;}