/* body {width: 1920px !important;height: 1080px!important;overflow: hidden;  color:#000; font:12px/20px "Microsoft YaHei","SimSun","宋体","Arial Narrow",HELVETICA; background:#fff; text-shadow: 1px 1px 1px #666;}
 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, hr { margin:0; padding:0; }
body {
    color: #000;
    font: 16px/20px "Roboto","Microsoft YaHei","SimSun","Arial Narrow",HELVETICA;
    width: 1920px !important;
	height: 1080px !important;
	background-color: #F2F2F2 !important;
}
a { color:#000; text-decoration:none; }
a:hover, a:active, a:focus { color:#000; text-decoration:none; }
@font-face {
    font-family: 'Roboto Th';
    src: url(//:) format('no404'), url('fonts/Roboto-Thin-webfont.woff') format('woff'), url('fonts/Roboto-Thin-webfont.ttf') format('truetype'), url('fonts/Roboto-Thin-webfont.svgz#Roboto Th') format('svg'), url('fonts/Roboto-Thin-webfont.svg#Roboto Th') format('svg');
    font-weight: normal;
    font-style: normal;
	}
input, button, select, textarea {
	font:16px/20px "Roboto","Microsoft YaHei","SimSun","Arial Narrow",HELVETICA; 
}

.navbar-inverse .navbar-inner {
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#333538),to(#333538));
}

ul { list-style:none; }
a { color:#000; text-decoration:none; }

ul.icons {
	list-style-type: none;
	text-indent: -.75em
}

ul.icons li [class^="icon-"],ul.icons li [class*=" icon-"] {
	width: .75em
}
.cur {
    background-color: #39A6AE !important;
}
.btn.btn-large {
    padding: 10px 16px;
}
.btn {
    background: none repeat scroll 0% 0% #EEE;
    border: 0px none;
    box-shadow: none;
    text-shadow: none;
    border-radius: 0px;
    color: #444;
    filter: none;
}
.btn-big {
    width: 168px;
    height: 42px;
    border-radius: 4px;
    background-color: #86D3D5;
    float: left;
    line-height: 42px;
    text-align: center;
    margin-right: 20px;
    padding-right: 10px;
    cursor: pointer;
}
.btn-big a {
    font-size: 20px;
    color: #FFF;
    display: block;
    width: 100%;
}
.btn-big p {
    margin-left: 14px;
}
.icon_wrench {
    background: url('../images/sysIcon.png') no-repeat scroll -827px -530px transparent;
}
.widget {
    margin: 0 20px;
    border-radius: 0;
}
tbody tr.even:hover.selected {
	background-color: #a9b7d1;
}
.widget-header {
	height: 40px;
    background: none repeat scroll 0% 0% #E4E4E4;
    border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.widget-header [class^="icon-"], .widget-header [class*=" icon-"] {
    display: inline-block;
    margin-left: 10px;
    margin-right: -2px;
    top: 6px;
}
.widget-header h3 {
    font-size: 14px;
    font-weight: 800;
    color: #555;
    line-height: 40px;
    display: inline-block;
    margin-right: 3em;
    position: relative;
    left: 10px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}
.widget-content:after {
    clear: both;
}
.widget-content:before, .widget-content:after {
    content: "";
    display: table;
}
.icon-list:before {
    content: "";
}

.widget-table .dataTables_length {
	display: inline;
}
.widget-table .dataTables_filter {
    display: none;
}
.widget-table table.table thead th {
    border-top: medium none;
    border-left: medium none;
    cursor: pointer;
}
.table-bordered tbody td, .table-bordered thead th {
    border-right: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
}
.table thead th {
    font-size: 16px;
    text-align: left;
    color: #FFF;
    padding: 5px 10px;
    border-bottom: 1px solid #E3E3E3;
    height: 34px;
    line-height: 34px;
}
