div, dl, dt, dd, ul, li, p, input, h1, h2, h3, h4, img {
    margin: 0px 0px;
    padding: 0px 0px;
    border: none none
}

ul, li {
    list-style: none
}

a {
    text-decoration: none;
    background-color: inherit;
    color: #666666
}

a:hover {
    text-decoration: none
}

#header {
    height: 48px;
    width: 100%;
    background-color: #000000;
    margin: 0px 0px 0px 0px;
    padding-top: 0px;
}

#main {
    width: 100%;
    height: 997px;
    background-color: #F4F4F4;
    overflow: hidden;
}

#content {
    width: 1650px;
    float: right;
    height: 992px;
    padding: 5px 15px 0px 15px;
    overflow: hidden;

}

#calendar_mode_switch {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #999;
}

#calendar_mode_switch ul {
    float: left;
    height: 37px;
    margin-top: 3px;
}

#calendar_mode_switch li {
    display: inline-block;
    text-align: center;
    margin: 0px 35px 0px 0px;
    height: 35px;
    width: 120px;
    line-height: 35px;
    color: #666666;
    font-size: 23px;
}

#calendar_mode_switch .current {
    border-bottom: 2px solid #78CDD0
}

#actionbar {
    width: 100%;
    height: 50px;
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.left {
    float: left
}

.right {
    float: right
}

#year_selector, #month_selector {
    display: inline-block;
    background-color: #26C3BC;
    margin-right: 20px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color: #ffffff;
    border-radius: 4px;
    padding: 0px 10px;
    cursor: pointer;
}

.arrow_down {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: url('eggplant/images/ui-icons_ffffff_256x240.png') -70px -20px;
    background-repeat: none;
}

.arrow_up {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: url('eggplant/images/ui-icons_ffffff_256x240.png') -4px -20px;
    background-repeat: none;
}

.red_arrow_down {
    width: 10px;
    height: 8px;
    background: url('../images/system.png') -785px -372px;
    background-repeat: none;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

.arrow_left {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: url('eggplant/images/ui-icons_ffffff_256x240.png') -100px -20px;
    background-repeat: none;
}

.arrow_right {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: url('eggplant/images/ui-icons_ffffff_256x240.png') -35px -20px;
    background-repeat: none;
}

#year_selector .arrow_down {
    margin-top: 10px
}

#month_selector .arrow_down {
    margin-top: 10px
}

#week_selector .arrow_down {
    margin-top: 10px
}

#create_event {
    display: inline-block;
    background-color: #26C3BC;
    margin-right: 20px;
    width: 140px;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    border-radius: 4px;
    text-align: center;
    vertical-align: top;
    font-size: 18px;
    cursor: pointer;
}

.cross {
    width: 12px;
    height: 12px;
    display: inline-block;
    background: url('eggplant/images/ui-icons_ffffff_256x240.png') -35px -130px;
    background-repeat: none;
}

#actionbar .cross {
    margin-top: 9px
}

#actionbar ul {
    display: inline-block
}

#actionbar li {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-right: 10px;
    vertical-align: top
}

.v_top {
    vertical-align: top
}

.square {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.color_78CDD0 {
    background-color: #78CDD0
}

.color_459FE0 {
    background-color: #6fcacb
}

.color_5CC8E4 {
    background-color: #c0d39b
}

.color_5CC84E {
    background-color: #5CC84E
}

.color_26C3BC {
    background-color: #26C3BC
}

.color_F9AB35 {
    background-color: #F9AB35
}

.color_FAC434 {
    background-color: #FAC434
}

.color_E66E4C {
    background-color: #E66E4C
}

.color_EF9E87 {
    background-color: #EF9E87
}

.weather_remark {
    height: 30px;
    width: auto;
    padding: 1px 2px 1px 2px;
    overflow: hidden
}

.weather_remark .weather_time {
    height: 25px;
    line-height: 25px;
}

#timeline {
    float: right;
    width: 1300px;
    font-size: 0px;
    margin-top: 0px
}

.hour_time {
    display: inline-block;
    width: 100px;
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    text-align: center
}

.line_slider {
    height: 6px;
    line-height: 6px;
    font-size: 0px;
}

.gray_line {
    width: 45px;
    height: 2px;
    background-color: #cccccc;
    display: inline-block;
    vertical-align: middle;
}

.left_gray_line {
    width: 47px;
    height: 2px;
    background-color: #cccccc;
    display: inline-block;
    vertical-align: middle;
}

.right_gray_line {
    width: 47px;
    height: 2px;
    background-color: #cccccc;
    display: inline-block;
    margin: 0px 0px;
    vertical-align: middle;
}

.big_hour_dot {
    width: 6px;
    height: 6px;
    line-height: 6px;
    background-color: #cccccc;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
}

.small_hour_dot {
    width: 4px;
    height: 4px;
    line-height: 4px;
    background-color: #cccccc;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
}

.clock_line {
    display: inline-block;
    height: 5px;
    line-height: 5px;
}

.current_clock {
    position: absolute;
    left: 900px;
    top: 100px;
    height: 30px;
    width: 60px;
    z-index: 1;
}

.current_clock_time {

    background-color: #78CDD0;
    width: 60px;
    height: 20px;
    font-size: 13px;
    text-align: center;
    border-radius: 2px;
    color: #ffffff;
}

.current_day, .current_month {
    background-color: #fdc997
}

li.current_day > .night_left {
    background-color: #FEAF60 !important
}

li.current_day > .night_right {
    background-color: #FEAF60 !important
}

.year_list {
    position: absolute;
    display: none;
    width: 100px;
    height: 156px;
    left: 15px;
    top: 87px;
    background-color: #666666;
    color: #ffffff;
    z-index: 2;
}

.year_list ul {
    width: 100%
}

.year_list li {
    text-align: center;
    width: 100%;
    height: 25px;
    border-bottom: 1px solid #cccccc;
}

.year_list > ul > .current {
    background-color: #323A45;
}

.month_list {
    position: absolute;
    display: none;
    width: 100px;
    height: 260px;
    left: 138px;
    top: 87px;
    background-color: #666666;
    color: #ffffff;
    z-index: 2;
}

.month_list ul {
    width: 100%
}

.month_list li {
    text-align: center;
    width: 100%;
    height: 25px;
    border-bottom: 1px solid #cccccc;
}

.month_list > ul > .current {
    background-color: #323A45;
}

.week_list {
    position: absolute;
    display: none;
    width: 100px;
    height: 104px;
    left: 503px;
    top: 135px;
    background-color: #666666;
    color: #ffffff;
}

.week_list ul {
    width: 100%
}

.week_list li {
    text-align: center;
    width: 100%;
    height: 25px;
    border-bottom: 1px solid #cccccc;
}

.week_list > ul > .current {
    background-color: #323A45;
}

#now_time_line {
    position: absolute;
    width: 2px;
    height: 840px;
    top: 137px;
    left: 929px;
    background-color: #78CDD0;
}

.nuantong_icon {
    width: 27px;
    height: 27px;
    line-height: 27px;
    background: url('../images/nuantong.png');
    display: inline-block;
}

.night_icon {
    width: 27px;
    height: 27px;
    line-height: 27px;
    background: url('../images/night.png');
    display: inline-block;
}

.mode_icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    display: inline-block;
}

.nuantong {

}

.day_lighting {

}

.night_lighting {

}

.HVAC_pastMonth {
    background: url('../images/system.png') -845px -312px;
}

.HVAC_pastDay {
    background: url('../images/system.png') -658px -312px;
}

.HVAC_futureDay {
    background: url('../images/system.png') -1031px -312px;
}

.LSPUB_pastMonth {
    background: url('../images/system.png') -720px -312px;
}

.LSPUB_pastDay {
    background: url('../images/system.png') -535px -312px;
}

.LSPUB_futureDay {
    background: url('../images/system.png') -907px -312px;
}

.LSN_pastMonth {
    background: url('../images/system.png') -782px -312px;
}

.LSN_pastDay {
    background: url('../images/system.png') -597px -312px;
}

.LSN_futureDay {
    background: url('../images/system.png') -969px -312px;
}

#week .mode_name {
    height: 18px;
    line-height: 18px;
    vertical-align: top;
    margin-left: 5px;
    display: inline-block;
    word-break: break-all
}

.one_mode {
    height: 37px;
    /*padding:8px 5px 0px 5px;*/
    background-color: #f3f3f3;
    border: 1px solid #fff;
    cursor: pointer;
}

.one_mode .mode_des {
    width: 100px;
    margin-left: 3px;
}

.one_mode > * {
    float: left;
}

.clock_segment {
    display: inline-block;
    margin-left: 30px;
    font-size: 0px
}

#mask {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 1080px;
    display: none;
    z-index: 1000;
    background: rgba(170, 170, 170, 0.95);
}

#mode_toast {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 140px;
    height: 22px;
    line-height: 22px;
    z-index: 2;
    background-color: #78CDD0;
    border-radius: 2px;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    display: none;
}

.dialog {
    overflow: hidden;
    background-color: #FAFAFA;
}

.dialog > .header {
    width: 100%;
    height: 50px;
    background-color: #26C3BC;
    overflow: hidden;
}

.dialog > .header > .title {
    display: inline-block;
    float: left;
    width: auto;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    font-size: 24px;
    color: #ffffff;
    overflow: hidden;
}

.dialog > .header > .close {
    float: right;
    background-color: #30D7CF;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    text-align: center;
    font-size: 34px;
    font-weight: normal !important;
    opacity: 1;
}

.dialog > .body {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    overflow: hidden
}

.dialog > .footer {
    background-color: #EFEFEF;
    width: 100%;
    height: 50px;
}

.dialog > .footer > .error {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    color: red;
    text-align: left;
}

.dialog > .footer > .tip {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    color: #78CDD0;
    text-align: left;
}

.dialog > .footer > .button_group {
    height: 30px;
    width: 200px;
    float: right;
    margin-right: 15px;
    margin-top: 10px;
    font-size: 13px;
    color: #ffffff;
}

.dialog > .footer > .button_group > .button {
    background-color: #78CDD0;
    height: 35px;
    line-height: 35px;
    width: 90px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin-right: 7px;
    font-size: 16px;
    border-radius: 4px;
}

.dialog > .body .normal_text {
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.dialog > .body > .event_type_selector {
    display: inline-block;
    vertical-align: bottom;
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
}

.dialog > .body > .normal_event_type_selector {
    display: inline-block;
    height: 40px;
    margin-left: 20px;
}

.dialog > .body > .normal_event_type_selector > .radio_item {
    display: inline-block;
    margin-right: 15px;
}

#create_mode_applay > .body .device_exception_title {
    background-color: #78CDD0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 13px;
    color: #ffffff;
}

.dialog > .body .device_group_tree {
    display: inline-block;
    width: 220px;
    height: 530px;
    font-size: 13px;
}

.dialog > .body .device_exception_table {
    float: right;
    display: inline-block;
    width: 680px;
    height: 530px;
    background-color: #E8E8E8;
    font-size: 13px;
}

.dialog > .body .device_exception_table > .device_name {
    height: 30px;
    line-height: 30px;

}

.dialog > .body .device_exception_table > .device_name > span {
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
}

.dialog > .footer > .error {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    color: red;
    text-align: left;
}

#edit_mode_apply .body .date {
    height: 30px;
    line-height: 30px;
    width: 100%;
    background-color: #78CDD0;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    float: none;
    margin-left: 0px;
    margin-bottom: 10px;
}

#edit_mode_apply > .body .device_exception_title {
    background-color: #999999;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 13px;
    color: #ffffff;
}

#edit_delete_weather .body .date {
    height: 30px;
    line-height: 30px;
    width: 100%;
    background-color: #cccccc;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    float: none;
    margin-left: 0px;
    /*margin-bottom:10px;*/
}

#choice_event_type > .body {
    width: 60%
}

#create_normal_event > .body {
    width: 75%
}

#create_mode_apply > .body {
    width: 90%;
}

#edit_mode_apply > .body {
    width: 90%;
}

.date_input {
    width: 95px;
    height: 28px;
}

.dialog .weather_desc {
    width: 362px;
    height: 25px;
}

.dialog .holiday_name {
    width: 362px;
    height: 25px;
}

.dialog .activity_name {
    width: 362px;
    height: 25px;
}

.dialog .activity_organizer {
    width: 362px;
    height: 25px;
}

.dialog .activity_address {
    width: 362px;
    height: 25px;
}

.dialog .event_title {
    width: 375px;
    height: 25px;
}

.dialog textarea {
    margin: 0px 0px;
    padding: 0px 0px;
    resize: none;
}

.dialog #activity_desc {
    width: 362px;
    height: 120px;
}

.event_desc {
    width: 375px;
    height: 120px
}

.button {
    background-color: #78CDD0;
    color: #ffffff;
    height: 30px;
    line-height: 30px;
    width: 60px;
    display: inline-block;
    text-align: center;
    font-size: 13px;
}

#create_mode_apply table {
    text-align: center;
    border: 0px
}

#create_mode_apply th {
    background-color: #999999;
    color: #ffffff;
}

#create_mode_apply th.device {
    width: 180px
}

#create_mode_apply th.start_date {
    width: 100px
}

#create_mode_apply th.end_date {
    width: 100px
}

#create_mode_apply th.mode_name {
    width: 170px
}

#create_mode_apply th.action {
    width: 130px
}

#create_mode_apply select {
    width: 140px
}

#create_mode_apply tr.even {
    background-color: #E8E8E8
}

#create_mode_apply tr.odd {
    background-color: #FAFAFA
}

#edit_mode_apply table {
    text-align: center;
    border: 0px
}

#edit_mode_apply th {
    background-color: #999999;
    color: #ffffff;
}

#edit_mode_apply th.device {
    width: 180px
}

#edit_mode_apply th.mode_name {
    width: 170px
}

#edit_mode_apply th.action {
    width: 130px
}

#edit_mode_apply select {
    width: 140px
}

#edit_mode_apply tr.even {
    background-color: #E8E8E8
}

#edit_mode_apply tr.odd {
    background-color: #FAFAFA
}

#today_weather {
    background-color: #EF9E87;
}

#today_mode {
    background-color: #66CCFF;
}

#today_activity {
    background-color: #79D7D3;
}

#today {
    display: inline-block;
    background-color: #26C3BC;
    margin-right: 20px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color: #ffffff;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

#current_week, #goto_current_month {
    display: inline-block;
    background-color: #26C3BC;
    margin-right: 20px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color: #ffffff;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
}

#day_selector, #week_selector {
    display: inline-block;
    background-color: #26C3BC;
    margin-right: 20px;
    width: 180px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color: #ffffff;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

#selected_day {
    margin-left: 15px;
    margin-right: 15px;
}

#selected_week {
    margin-left: 15px;
    margin-right: 15px;
}

#day_timeline {
    width: 1650px;
    font-size: 0px;
    margin-top: 0px
}

#today_weather, #today_mode, #today_activity {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    color: #ffffff;
}

#today_weather span, #today_mode span, #today_activity span {
    margin-left: 20px
}

.loadwindow {
    width: 300px;
    height: 150px;
    margin-top: 390px;
    margin-left: 810px;
    border-radius: 5px;
    padding-top: 90px;
}

.loading {
    width: 60px;
    height: 60px;
    margin-top: 540px;
    margin-left: 950px;
    background: url("../images/loading_circle.gif");
    background-repeat: no-repeat;
}

#day #mode_view {
    width: 100%;
    height: 749px;
    border-bottom: 1px solid #cccccc;
    overflow: hidden;
    background-color: #f2f2f2;
}

.mode_list_for_oneday ul {
    width: 100%;
    height: 100%
}

.detail_mode {
    width: inherit;
}

.separate_line {
    width: 3px;
    height: 60px;
    float: left;
    margin-right: 5px;
}

.mode_desc {
    width: auto;
    height: auto;
    font-size: 13px;
    overflow: hidden
}

.mode_desc li {
    white-space: nowrap;
    overflow: hidden
}

#month_slider {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #EAEAEA;
    color: #39a6ad;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.circle_arrow_left {
    width: 27px;
    height: 27px;
    display: inline-block;
    background: url('../images/system.png') -1141px -190px;
    background-repeat: none;
}

.circle_arrow_right {
    width: 27px;
    height: 27px;
    display: inline-block;
    background: url('../images/system.png') -970px -190px;
    background-repeat: none;
}

#day .time_slider {
    width: auto;
    height: 19px;
    line-height: 19px;
    margin-left: 45px;
    overflow: hidden
}

#day .mode_list_for_oneday {
    position: absolute;
    left: 15px;
    top: 232px;
    width: 1650px;
    height: 765px;
    display: inline-block;
    vertical-align: top;
}

#day .hour_time {
    display: inline-block;
    width: 120px;
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    text-align: center
}

#day .gray_line {
    width: 55px;

}

#day .left_gray_line {
    width: 102px;
}

#day .right_gray_line {
    width: 102px;
}

#day .open_line {
    width: 54px;
    height: 2px;
    line-height: 6px;
    display: inline-block;
    vertical-align: middle;
}

#day .night_left {
    float: left;
    height: 100%;
    background-color: #DCF2F7;
    display: inline-block;
}

#day .night_right {
    height: 100%;
    background-color: #DCF2F7;
    display: inline-block;
    float: right;
}

#day .clock_line_00 {
    position: absolute;
    width: 0px;
    border-left: 1px dashed #cccccc;
    height: 747px;
    top: 230px;
    left: 120px;
}

#day .clock_line_04 {
    position: absolute;
    width: 0px;
    border-left: 1px dashed #cccccc;
    height: 747px;
    top: 230px;
    left: 360px;
}

#day .clock_line_08 {
    position: absolute;
    width: 0px;
    border-left: 1px dashed #cccccc;
    height: 747px;
    top: 230px;
    left: 600px;
}

#day .clock_line_12 {
    position: absolute;
    width: 0px;
    border-left: 1px dashed #cccccc;
    height: 747px;
    top: 230px;
    left: 840px;
}

#day .clock_line_16 {
    position: absolute;
    width: 0px;
    border-left: 1px dashed #cccccc;
    height: 747px;
    top: 230px;
    left: 1080px;
}

#day .clock_line_20 {
    position: absolute;
    width: 0px;
    border-left: 1px dashed #cccccc;
    height: 747px;
    top: 230px;
    left: 1320px;
}

#day .clock_line_24 {
    position: absolute;
    width: 0px;
    border-left: 1px dashed #cccccc;
    height: 747px;
    top: 230px;
    left: 1560px;
}

#week {
    height: 865px;
    overflow: hidden;
}

#week #active_slider {
    display: inline-block;
    width: 133px;
    height: 100%;
    font-size: 14px;
    margin-left: 1px;
}

#week #active_slider li {
    background-color: #fcfcfc;
    border-bottom: 1px solid #cccccc
}

#active_whole_week {
    height: 25px;
    width: 100%;
    border-radius: 2px;
    color: #ffffff;
    text-align: center;
    overflow: hidden
}

#week .mode_for_oneday {
    height: 119px;
    color: #26C3BC
}

#week #weather_slider {
    width: 216px;
    height: 100%;
    float: left;
    font-size: 14px;
}

#week #week_range {
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    border-radius: 2px;
}

#week #weather_slider li {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    color: #9E9E9E
}

#week .weather_for_oneday {
    height: 119px;
    overflow: hidden;
    border-left: 2px solid #ffffff;
    background-color: #fcfcfc;
    cursor: pointer;
}

#week .weather_caption {
    height: 30px;
    width: auto;
    padding: 2px 0px 2px 10px;
}

#week .weather_caption .holiday_desc {
    min-width: 32px;
    max-width: 155px;
    height: 25px;
    line-height: 25px;
    padding: 0px 5px 0px 10px;
    color: #ffffff;
    background-color: #78CDD0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#week .weather_detail {
    height: 55px;
    width: auto;
    float: none;
    padding-left: 2px
}

#week .weather_label_normal {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px
}

#week .temperature {
    display: inline-block;
    height: 52px;
    line-height: 52px;
    font-size: 16px;
    vertical-align: bottom
}

#week .weather_desc {
    height: 28px;
    line-height: 28px;
    vertical-align: bottom
}

#week #mode_group {
    width: 100%;
    height: auto;
    background-color: #f9f9f9
}

#week #mode_group ul {
    width: 100%;
    height: auto
}

#week #mode_group li {
    width: 100%;
    height: 119px;
    border-bottom: 1px solid #cccccc;
    overflow: hidden;
}

#week .open_line {
    width: 44px;
    height: 2px;
    line-height: 6px;
    display: inline-block;
    vertical-align: middle;
}

#week .time_slider {
    width: auto;
    height: 19px;
    line-height: 19px;
    margin-left: 0px;
    overflow: hidden
}

#week .clock_line_00 {
    position: absolute;
    width: 0px;
    border-left: 1px dashed #cccccc;
    height: 840px;
    top: 137px;
    left: 415px;
}

#week .clock_line_04 {
    position: absolute;
    width: 0px;
    border-left: 1px dashed #cccccc;
    height: 840px;
    top: 137px;
    left: 615px;
}

#week .clock_line_08 {
    position: absolute;
    width: 0px;
    border-left: 1px dashed #cccccc;
    height: 840px;
    top: 137px;
    left: 815px;
}

#week .clock_line_12 {
    position: absolute;
    width: 0px;
    border-left: 1px dashed #cccccc;
    height: 840px;
    top: 137px;
    left: 1015px;
}

#week .clock_line_16 {
    position: absolute;
    width: 0px;
    border-left: 1px dashed #cccccc;
    height: 840px;
    top: 137px;
    left: 1215px;
}

#week .clock_line_20 {
    position: absolute;
    width: 0px;
    border-left: 1px dashed #cccccc;
    height: 840px;
    top: 137px;
    left: 1415px;
}

#week .clock_line_24 {
    position: absolute;
    width: 0px;
    border-left: 1px dashed #cccccc;
    height: 840px;
    top: 137px;
    left: 1615px;
}

#week .night_left {
    float: left;
    height: 100%;
    background-color: #DCF2F7;
    display: inline-block;
}

#week .night_right {
    height: 100%;
    background-color: #DCF2F7;
    display: inline-block;
    float: right;
}

#week .monday {
    position: absolute;
    left: 365px;
    top: 141px;
    width: 1300px;
    height: 119px;
    display: inline-block;
    vertical-align: top;
}

#week .tuesday {
    position: absolute;
    left: 365px;
    top: 261px;
    width: 1300px;
    height: 119px;
    display: inline-block;
    vertical-align: top;
}

#week .wedensday {
    position: absolute;
    left: 365px;
    top: 381px;
    width: 1300px;
    height: 119px;
    display: inline-block;
    vertical-align: top;
}

#week .thursday {
    position: absolute;
    left: 365px;
    top: 501px;
    width: 1300px;
    height: 119px;
    display: inline-block;
    vertical-align: top;
}

#week .friday {
    position: absolute;
    left: 365px;
    top: 621px;
    width: 1300px;
    height: 119px;
    display: inline-block;
    vertical-align: top;
}

#week .saturday {
    position: absolute;
    left: 365px;
    top: 741px;
    width: 1300px;
    height: 119px;
    display: inline-block;
    vertical-align: top;
}

#week .sunday {
    position: absolute;
    left: 365px;
    top: 861px;
    width: 1300px;
    height: 119px;
    display: inline-block;
    vertical-align: top;
}

#week .lengreyuan {
    height: 23px;
    line-height: 23px;
    font-size: 0px;
}

#week .xinfeng {
    height: 23px;
    line-height: 23px;
    font-size: 0px;
}

#week .zuhekongtiao {
    height: 23px;
    line-height: 23px;
    font-size: 0px;
}

#week .diaozhuangkongtiao {
    height: 23px;
    line-height: 23px;
    font-size: 0px;
}

#week .tongfengjizu {
    height: 23px;
    line-height: 23px;
    font-size: 0px;
}

#week .CoolingSource {
    height: 19px;
    line-height: 19px;
    font-size: 0px;
}

#week .HeatSource {
    height: 19px;
    line-height: 19px;
    font-size: 0px;
}

#week .FreshAVU {
    height: 19px;
    line-height: 19px;
    font-size: 0px;
}

#week .ModularAHU {
    height: 19px;
    line-height: 19px;
    font-size: 0px;
}

#week .BuiltUpAHU {
    height: 19px;
    line-height: 19px;
    font-size: 0px;
}

#week .AVU {
    height: 19px;
    line-height: 19px;
    font-size: 0px;
}

#week .LSPUB {
    height: 19px;
    line-height: 19px;
    font-size: 0px;
}

#week .LSN {
    height: 19px;
    line-height: 19px;
    font-size: 0px;
}

#week .sun_up_icon {

}

#week .sun_down_icon {

}

#week .sun_up_icon_pastMonth {
    width: 25px;
    height: 20px;
    background: url("../images/all_icon.png") -155px -382px;
    background-repeat: none;
    display: inline-block;
    vertical-align: middle
}

#week .sun_down_icon_pastMonth {
    width: 25px;
    height: 20px;
    background: url("../images/all_icon.png") -213px -382px;
    background-repeat: none;
    display: inline-block;
    vertical-align: middle
}

#week .sun_up_icon_pastDay {
    width: 25px;
    height: 20px;
    background: url("../images/all_icon.png") -155px -336px;
    background-repeat: none;
    display: inline-block;
    vertical-align: middle
}

#week .sun_down_icon_pastDay {
    width: 25px;
    height: 20px;
    background: url("../images/all_icon.png") -213px -336px;
    background-repeat: none;
    display: inline-block;
    vertical-align: middle
}

#week .sun_up_icon_futureDay {
    width: 25px;
    height: 20px;
    background: url("../images/all_icon.png") -500px -430px;
    background-repeat: none;
    display: inline-block;
    vertical-align: middle
}

#week .sun_down_icon_futureDay {
    width: 25px;
    height: 20px;
    background: url("../images/all_icon.png") -550px -430px;
    background-repeat: none;
    display: inline-block;
    vertical-align: middle
}

#week .sun_up_time {
    display: inline-block;
    vertical-align: middle
}

#week .sun_down_time {
    display: inline-block;
    vertical-align: middle
}

#month_slider > .circle_arrow_left {
    float: left;
    margin-left: 15px;
    margin-top: 12px
}

#month_slider > .circle_arrow_right {
    float: right;
    margin-right: 15px;
    margin-top: 12px
}

#sunday_to_saturday {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #E1E0E2;
    text-align: left;
    font-size: 0px;
}

#sunday_to_saturday li {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    width: 235px;
    text-align: center;
    font-size: 13px
}

#day_grid {
    width: 100%;
    height: 100%
}

#day_grid table {
    width: 100%;
    height: 100%;
    border: 0px;
    border-spacing: 0px 0px
}

#day_grid td {
    height: 120px;
    width: 235px;
    font-size: 12px;
    overflow: hidden
}

#day_grid td.current_month_day {
    border-top: 2px solid #6fcacb;
    border-right: 1px solid #cccccc;
    background-color: #ffffff;
}

#day_grid td.current_month_day .mode {
    border-top: 6px solid #6FCACB !important;
}

#day_grid td.current_month_day .activity {
    border-top: 6px solid #C0D39B !important;
}

#day_grid td.last_month_day {
    border-top: 2px solid #cccccc;
    border-right: 1px solid #cccccc;
    background-color: #f9f9f9;
}

#day_grid td.last_month_day * {
    color: #ccc !important;
}

#day_grid td.last_month_day .mode, #day_grid td.last_month_day .activity {
    border-top: 6px solid #ccc !important;
}

#day_grid td.next_month_day {
    border-top: 2px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    background-color: #f9f9f9;
}

#day_grid td.next_month_day * {
    color: #ccc !important;
}

#day_grid td.next_month_day .mode, #day_grid td.next_month_day .activity {
    border-top: 4px solid #ccc !important;
}

#day_grid td.current_month_current_day {
    background-color: #f9f9f9;
    outline: 4px solid #469fe3;
    outline-offset: 0px;
}

#day_grid .date_holiday {
    width: 100%;
    height: 18%;
    overflow: hidden
}

#day_grid .weather_list {
    width: 100%;
    height: 52px;
    overflow: hidden;
    cursor: pointer;
}

#day_grid .mode_activity {
    width: 100%;
    height: 50px;
    margin-top: 8px;
    overflow: hidden;
    font-size: 0px;
    cursor: pointer;
}

#day_grid .date {
    display: inline-block;
    margin-left: 5px
}

#day_grid .holiday {
    display: inline-block;
    float: right;
    background-color: #ffa64c;
    padding: 0px 7px 0px 9px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #fff;
    max-width: 170px
}

#day_grid .weather_icon {
    width: 52px;
    height: 52px;
    display: inline-block;
}

#grid_bottom_line {
    width: 100%;
    height: 4px;
    background-color: #69C8CA;
    margin-top: 10px
}

.sunny {
    width: 52px;
    height: 52px;
    background: url('../images/weather.png') -135px -90px;
    background-repeat: none;
}

.raintosunny {
    width: 52px;
    height: 52px;
    background: url('../images/weather.png') -135px -179px;
    background-repeat: none;
}

.bigsnow {
    width: 52px;
    height: 52px;
    background: url('../images/weather.png') -135px -260px;
    background-repeat: none;
}

.bigrain {
    width: 52px;
    height: 52px;
    background: url('../images/weather.png') -133px -528px;
    background-repeat: none;
}

.cloudy {
    width: 52px;
    height: 52px;
    background: url('../images/weather.png') -135px -442px;
    background-repeat: none;
}

.middlerain {
    width: 52px;
    height: 52px;
    background: url('../images/weather.png') -135px -528px;
    background-repeat: none;
}

.nightcloudy {
    width: 52px;
    height: 52px;
    background: url('../images/weather.png') -135px -615px;
    background-repeat: none;
}

.overcast {
    width: 52px;
    height: 52px;
    background: url('../images/weather.png') -380px -80px;
    background-repeat: none;
}

.sunnytosmallrain {
    width: 52px;
    height: 52px;
    background: url('../images/weather.png') -380px -175px;
    background-repeat: none;
}

.rainandsnow {
    width: 52px;
    height: 52px;
    background: url('../images/weather.png') -380px -260px;
    background-repeat: none;
}

.hail {
    width: 52px;
    height: 52px;
    background: url('../images/weather.png') -380px -350px;
    background-repeat: none;
}

.thunderstorm {
    width: 52px;
    height: 52px;
    background: url('../images/weather.png') -380px -442px;
    background-repeat: none;
}

.smallsnow {
    width: 52px;
    height: 52px;
    background: url('../images/weather.png') -380px -528px;
    background-repeat: none;
}

.smallrain {
    width: 52px;
    height: 52px;
    background: url('../images/weather.png') -622px -175px;
    background-repeat: none;
}

.nightsunny {
    width: 52px;
    height: 52px;
    background: url('../images/weather.png') -622px -260px;
    background-repeat: none;
}

.rainandhail {
    width: 52px;
    height: 52px;
    background: url('../images/weather.png') -622px -350px;
    background-repeat: none;
}

.wind {
    width: 52px;
    height: 52px;
    background: url('../images/weather.png') -622px -440px;
    background-repeat: none;
}

.fog {
    width: 52px;
    height: 52px;
    background: url('../images/weather.png') -622px -528px;
    background-repeat: none;
}

.suncloudy {
    width: 52px;
    height: 52px;
    background: url('../images/weather.png') -622px -87px;
    background-repeat: none;
}

.picnotfound {
    width: 52px;
    height: 52px;
    background: url('../images/weather.png') -380px -10px;
    background-repeat: none;
}

/*
.weather_list .sunny {
    width:52px;
    height:52px;
    background:url('../images/weather.png') -214px -90px;
    background-repeat:none;
}

.weather_list .raintosunny{
    width:52px;
    height:52px;
    background:url('../images/weather.png') -214px -179px;
    background-repeat:none;
}

.weather_list .bigsnow{
    width:52px;
    height:52px;
    background:url('../images/weather.png') -214px -260px;
    background-repeat:none;
}

.weather_list .bigrain{
    width:52px;
    height:52px;
    background:url('../images/weather.png') -215px -530px;
    background-repeat:none;
}

.weather_list .cloudy {
    width:52px;
    height:52px;
    background:url('../images/weather.png') -214px -442px;
    background-repeat:none;
}

.weather_list .middlerain {
    width:52px;
    height:52px;
    background:url('../images/weather.png') -214px -528px;
    background-repeat:none;
}

.weather_list .nightcloudy {
    width:52px;
    height:52px;
    background:url('../images/weather.png') -214px -615px;
    background-repeat:none;
}

.weather_list .overcast{
    width:52px;
    height:52px;
    background:url('../images/weather.png') -460px -80px;
    background-repeat:none;
}
.weather_list .sunnytosmallrain {
    width:52px;
    height:52px;
    background:url('../images/weather.png') -460px -175px;
    background-repeat:none;
}

.weather_list .rainandsnow {
    width:52px;
    height:52px;
    background:url('../images/weather.png') -460px -260px;
    background-repeat:none;
}

.weather_list .hail {
    width:52px;
    height:52px;
    background:url('../images/weather.png') -460px -350px;
    background-repeat:none;
}
.weather_list .thunderstorm {
    width:52px;
    height:52px;
    background:url('../images/weather.png') -460px -442px;
    background-repeat:none;
}

.weather_list .smallsnow {
    width:52px;
    height:52px;
    background:url('../images/weather.png') -460px -528px;
    background-repeat:none;
}
.weather_list .smallrain {
    width:52px;
    height:52px;
    background:url('../images/weather.png') -703px -175px;
    background-repeat:none;
}

.weather_list .nightsunny {
    width:52px;
    height:52px;
    background:url('../images/weather.png') -703px -260px;
    background-repeat:none;
}

.weather_list .rainandhail {
    width:52px;
    height:52px;
    background:url('../images/weather.png') -703px -350px;
    background-repeat:none;
}

.weather_list .wind {
    width:52px;
    height:52px;
    background:url('../images/weather.png') -703px -440px;
    background-repeat:none;
}

.weather_list .fog {
    width:52px;
    height:52px;
    background:url('../images/weather.png') -703px -528px;
    background-repeat:none;
}

.weather_list .picnotfound {
    width:52px;
    height:52px;
    background:url('../images/weather.png') -460px -10px;
    background-repeat:none;
}

*/

#day_grid .weather_desc_temperature {
    display: inline-block;
    margin-left: 10px;
    height: 100%;
    vertical-align: top;
    font-size: 0px;
}

#day_grid .weather_desc {
    height: 50%;
    width: 100%;
    font-size: 12px;
}

#day_grid .temperature {
    height: 50%;
    width: 100%;
    font-size: 12px;
}

#day_grid .sun_up_sun_down {
    display: inline-block;
    float: right;
    margin-right: 3px
}

#day_grid .sun_up_icon {
    width: 25px;
    height: 20px;
    background: url("../images/all_icon.png") -155px -382px;
    background-repeat: none;
    display: inline-block;
    vertical-align: middle
}

#day_grid .sun_down_icon {
    width: 25px;
    height: 20px;
    background: url("../images/all_icon.png") -213px -382px;
    background-repeat: none;
    display: inline-block;
    vertical-align: middle
}

#day_grid .last_month_day .sun_up_icon {
    background: url("../images/all_icon.png") -155px -430px;
}

#day_grid .last_month_day .sun_down_icon {
    background: url("../images/all_icon.png") -213px -430px;
}

#day_grid .next_month_day .sun_up_icon {
    background: url("../images/all_icon.png") -155px -430px;
}

#day_grid .next_month_day .sun_down_icon {
    background: url("../images/all_icon.png") -213px -430px;
}

#day_grid .sun_up_time {
    display: inline-block;
    vertical-align: middle
}

#day_grid .sun_down_time {
    display: inline-block;
    vertical-align: middle
}

#day_grid .mode {
    display: inline-block;
    width: 116px;
    height: 48px;
    border-top: 4px solid #6fcacb;
    border-right: 1px solid #e6e6e6;
    font-size: 15px;
    margin-top: 0px;
    position: static;
    overflow: hidden;
}

#day_grid .activity {
    display: inline-block;
    width: 115px;
    height: 48px;
    border-top: 4px solid #c0d39b;
    font-size: 15px;
    overflow: hidden;
}

#day_grid .mode_name {
    margin-left: 5px;
    color: #6699ff
}

#day_grid .activity_name {
    margin-left: 5px;
    color: #c0d39b
}

.actionbar {
    width: 100%;
    height: 40px;
    padding-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
}

.actionbar .cross {
    margin-top: 9px
}

.actionbar ul {
    display: inline-block
}

.actionbar li {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-right: 10px;
    vertical-align: top
}

#list #weather_slider {
    width: 390px;
    height: 100%;
    float: left;
    font-size: 13px;
    background-color: #ffffff;
}

#list #weather_slider li {
    border-bottom: 1px solid #cccccc
}

#list #weather_slider .weather_for_oneday {
    height: 114px;
    font-size: 0px;
    overflow: hidden
}

#list .weather_caption {
    height: 100%;
    width: 120px;
    border-right: 1px solid #cccccc;
    display: inline-block;
    font-size: 13px;
    overflow: hidden;
    border-left: 5px solid #0066FF;
}

#list .date {
    height: 55px;
    width: 100%;
    float: none;
    margin-left: 0px;
}

#list .day {
    display: inline-block;
    font-size: 46px;
    line-height: 72px;
    height: 55px;
    margin-left: 12px;
    width: 54px;
}

#list .week_day {
    display: inline-block;
    font-size: 13px;
    margin-left: 6px;
}

#list .simply_weather {
    height: 59px;
    width: 100%;
}

#list .weather_caption .temperature {
    display: inline-block;
    margin-top: 30px;
    margin-left: 8px;
}

#list .weather_caption .weather_desc {
    display: inline-block;
    float: right;
    margin-right: 8px;
    height: 49px;
    padding-top: 10px;
}

#list .weather_caption .history {
    color: #66cccc;
}

#list .weather_detail_list {
    height: 100%;
    width: 264px;
    display: inline-block;
    overflow: hidden;
    float: right;
    font-size: 13px;
    color: #666;
    cursor: pointer;
}

#list .weather_detail_list .holiday {
    width: 100%;
    height: 15px;
    margin-top: 5px;
}

#list .weather_detail_list .holiday_desc {
    height: 25px;
    line-height: 25px;
    padding: 0px 5px;
    color: #ffffff;
    background-color: #78CDD0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    min-width: 50px;
    max-width: 220px;
    text-align: center;
    display: none;
}

#list .weather_detail_list .weather_desc {
    height: 52px;
    width: 100% font-size : 0 px;
    vertical-align: bottom;
}

#list .weather_detail_list .weather_am {
    padding-left: 10px;
    font-size: 14px;
}

#list .weather_detail_list .weather_pm {
    padding-right: 10px;
    font-size: 14px;
}

#list .weather_detail_list .weather_desc .weather_label_normal {
    display: inline-block;
    width: 52px;
    height: 52px;
}

#list .weather_detail_list .weather_desc .temperature {
    display: inline-block;
    font-size: 25px;
    line-height: 52px;
    vertical-align: top;
}

#list .weather_detail_list .weather_desc .desc {
    display: inline-block;
    width: 57px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    vertical-align: top;
    font-size: 14px;
    overflow: hidden;
}

#list .sun_up_icon {
    width: 25px;
    height: 20px;
    background: url("../images/all_icon.png") -155px -382px;
    background-repeat: none;
    display: inline-block;
    vertical-align: middle
}

#list .sun_down_icon {
    width: 25px;
    height: 20px;
    background: url("../images/all_icon.png") -213px -382px;
    background-repeat: none;
    display: inline-block;
    vertical-align: middle
}

#list .weather_time {
    display: inline-block;
    vertical-align: middle;
    height: 25px;
    line-height: 25px;
}

#list #activity_slider {
    width: 1260px;
    height: 100%;
    float: left;
    font-size: 13px;
    background-color: #fdfdfd;
    overflow: hidden;
}

#list #activity_slider .activity_for_oneday {
    height: 114px;
    font-size: 0px;
    overflow: hidden;
    border-left: 2px solid #cccccc;
    width: 100%;
    font-size: 0px;
}

#list #activity_slider li {
    border-bottom: 1px solid #cccccc;
}

#list .activity_for_oneday ul {
    height: 100%;
    width: 100%;
}

#list .activity_for_oneday li {
    display: inline-block;
    height: 100%;
    width: 156px;
    border-right: 1px solid #cccccc;
    font-size: 13px;
    overflow: hidden;
    cursor: pointer;
}

#list .activity_for_oneday .activity_time {
    width: 105px;
    height: 39px;
    line-height: 39px;
    margin-left: 25px;
    font-size: 18px;
    border-bottom: 1px solid #cccccc;
}

#list .activity_for_oneday .activity_name {
    width: 105px;
    height: 74px;
    line-height: 24px;
    margin-left: 25px;
    font-size: 18px;
}

.input-append input, .input-append select, .input-append .uneditable-input {
    border-radius: 0px !important;
}

.input-append, .input-prepend {
    margin-bottom: 0px !important;
}

.has_margin_left {
    margin-left: 20px;
}

.week_today * {
    color: #ccc !important;
}

.week_today_ul * {
    color: #ccc !important;
}

.CoolingSource .big_hour_dot, .CoolingSource .open_line, .CoolingSource .separate_line {
    background-color: #F9AB35 !important;
}

.HeatSource .big_hour_dot, .HeatSource .open_line, .HeatSource .separate_line {
    background-color: #EF9E87 !important;
}

.FAVU .big_hour_dot, .FAVU .open_line, .FAVU .separate_line {
    background-color: #6fcacb !important;
}

.MAHU .big_hour_dot, .MAHU .open_line, .MAHU .separate_line {
    background-color: #5CC84E !important;
}

.BUAHU .big_hour_dot, .BUAHU .open_line, .BUAHU .separate_line {
    background-color: #e66e4c !important;
}

.AVU .big_hour_dot, .AVU .open_line, .AVU .separate_line {
    background-color: #fea434 !important;
}

.LSPUB .big_hour_dot, .LSPUB .open_line, .LSPUB .separate_line {
    background-color: #FAC434;
!important;
}

.LSN .big_hour_dot, .LSN .open_line, .LSN .separate_line {
    background-color: #FAC434;
!important;
}

.bootstrap-datetimepicker-widget {
    width: auto;
    font-size: 20px;
}

input {
    border: 1px solid #CCC !important;
}

#subsystem {
    margin-top: 30px;
    margin-bottom: 30px
}

#subsystem > li {
    display: inline-block;
    width: 150px;
    height: 50px;
    margin-right: 20px
}

#subsystem > li > div {
    display: block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 16px;
}

#subsystem > li > select {
    width: 150px;
}

.loadmode {
    display: block;
    text-align: center;
    width: 100%
}