
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, hr { margin:0; padding:0; }
fieldset, img { border:none; }
img{display: block;}
h1,h2,h3{line-height:40px; font-weight: normal !important;}
address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }
ul { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","锟斤拷锟斤拷";}
input::-moz-focus-inner { border:none; padding:0; }
select, input { vertical-align:middle; }
select, input, textarea { font-size:12px; margin:0; }
input[type="text"], input[type="password"], textarea { outline-style:none; -webkit-appearance:none; }
textarea { resize:none; }
table { border-collapse:collapse; }
body {width: 1920px !important;height: 1080px!important;/*overflow: hidden;*/ background-color: #f2f2f2 !important; color:#000; font:12px/20px "Microsoft YaHei","SimSun","瀹嬩綋","Arial Narrow",HELVETICA; background:#fff; /*text-shadow: 1px 1px 1px #666;*/}
.clearfix:after { content:".";  height:0; visibility:hidden; clear:both; }
.clearfix { zoom:1; }
.clearit { clear:both; height:0; font-size:0; overflow:hidden; }
a { color:#000; text-decoration:none; }
a:hover, a:active, a:focus { color:#000; text-decoration:none; }
input{width: 120px;}
input[type="radio"] {
	margin: 0px !important;
}

.nav {
	height: 83px;
	background-color: #333538;
	line-height: 83px;
	margin: 0;
}

.navbar {
    position: relative;
}

.navbar .brand {
    margin-left: 0px;
    margin-left: 0px;
}

/* .navbar .brand > img { */
/* 	margin: 18px 0px 0px 10px; */
/* } */

.nav > .weather, .nav > .clock{
    background-color: #484a4c !important;
}

.navX {
	height: 25px;
	line-height: 83px;
	margin: 0;
}

.navigation li {
	float: left;
	font-size: 20px;
	line-height: 84px;
	position: relative;
}

.navigation a{
	color: #D7D7D7;
}

.navigation >li > a:hover, a:active, a:focus {
	color: #fff;
	background: transparent;
}

.mb_nav {width:100%;height: 100%;background-color: transparent;position: absolute; top: 0px;left: 0px;display: none}

.triangle {
	position: absolute;
	top: 42%;
	right: 39%;
	cursor: default;
	color: #fff;
}

.simple_nav {
	float: left;
	width: 81% !important;
}


.nav_bar {
	margin-left: 44px;
}

.login_plugin {
	float: right !important;
	color: #fff;
}

.date_count {
	font-family: "Roboto Th";
	width: 18.5% !important;
	color: #ccc;
	background-color: #484a4c;
	text-shadow: 1px 1px 1px #000;
	float: right !important;
	height: 100%;
	margin-left: 0px !important;
}

.weather {
	width: 151px;
	height: 100%;
	font-size: 18px;
	float: left;
}

.weather .weatherImg {
    width: 57px;
    padding: 0;
    margin: 15px 0 0 2px;
    float: left;
}

.weather_detail {
    float: left;
    width: 75px;
}


.temp_describe {
	font-size: 18px;
	height: 40px;
	line-height: 68px;
}

.temp_value {
	font-size: 15px;
	height: 40px;
	line-height: 32px;
}

.clock {
	width: 225px;
	height: 100%;
	float: left;
}

.timer {
	font-size: 50px;
	width: 118px;
	float: left;
	text-align: center;
}

.date_list {
	width: 75px;
	height: 100%;
	float: left;
	margin-left: 5px;
}

.date_list > div {
	text-align: left;
}

.week {
	font-size: 18px;
	height: 40px;
	line-height: 60px;
	vertical-align: middle;
}

.y_m_d {
	font-size: 15px;
	height: 40px;
	line-height: 25px;
}

.mode {
	position: relative;
	width: 98%;
	margin: 20px auto 0;
}

.mode_select {
	height: 40px;
}

.mode_select li{
	float: left;
	margin-left: 60px;
	font-size: 18px;
	color: #000;
}

#current_mode {
	font-size: 24px;
}

.division_line {
	width: 100%;
	height: 1px;
	background-color: #666;
}

.current_underline {
	width: 220px;
	background-color: #78cdd0;
	height: 3px;
}

.nomargin {
	margin-left: 0 !important;
}


.Btn-big {
	width: 168px;
	margin:0 20px 0 10px;
	height: 42px;
	border-radius: 4px;
	background-color: #86d3d5;
	float: left;
	line-height: 42px;
	text-align: center;
	margin-left: 30px;
	cursor: pointer;
	
	color: #fff;
	font-size: 20px;
	float: left;
	
	border:0px;
	font-family: 'Microsoft YaHei',Verdana,"BitStream vera Sans";
}

 button:not([disabled="disabled"]).Btn-big:hover {
	background-color: #39a6ae;
	color:#fff;
}

 div:not([disabled="disabled"]).Btn-big:hover {
	background-color: #39a6ae;
	color:#fff;
}

.Btn-big p {
	margin-left: 8px;
}

.Btn-big a {
	font-size: 20px;
	color: #fff;
	display: block;
	width: 100%;
}

.btn2 {
	margin-left: 30px;
}

.btn-small {
	border-radius: 4px;
	text-align: center;
	background-color: #86d3d5;
	color: #fff;
	font-size: 14px;
	padding: 4px 12px;
	cursor: pointer;
}

.btn-small:hover, .btn_small:active, .btn_small:focus{
	background-color: #39a6ad;
}

.paging {
	margin-top: 20px;
	height: 30px;
	line-height: 30px;
	margin-left: 657px;
}

.paging *{
	float: left;
	margin-left: 34px;
}

.paging img {
	margin-top: 10px;
	cursor: pointer;
}

.paging span {
	margin-left: 5px;
}

.paging input {
	width: 69px;
	margin: 0px !important;
}

.page_des1 {
	margin-left: 30px !important;
}

.btnStyle1 {
	width: 140px;
	height: 30px;
	line-height: 30px;
	background-color: #86d3d5;
	border-radius: 5px;
	font-size: 16px;
	text-align: center;
	float: left;
	margin-left: 20px;
}

.btnStyle1:hover {
	background-color: #39a6ae;
}

.btnStyle1 a {
	width: 100%;
	height: 100%;
	display: inline-block;
}

.Btn-big * {
	float: left;
}

.btnStyle a, .btnStyle1 a{
	color: #fff;
}

.icon_btn {
	width: 30px;
	height: 30px;
	display: inline-block;
	float: left;
	padding:5px 0 0 16px;
}

.icon_date {
	background: url("../images/all_icon.png") -75px -31px no-repeat;
}

.icon_tel {
	background: url("../images/all_icon.png") -75px -83px no-repeat;	
}

.icon_setting {
	background: url("../images/all_icon.png") -150px -36px no-repeat;		
}

.icon_file {
	background: url("../images/all_icon.png") -594px -326px no-repeat;	
}

.icon_pin {
	background: url("../images/all_icon.png") -643px -326px no-repeat;	
}

.icon_key {
	background: url("../images/all_icon.png") -746px -323px no-repeat;	
}

.icon_bag {
	background: url("../images/all_icon.png") -693px -323px no-repeat;	
}

.icon_book {
	background: url("../images/all_icon.png") -805px -326px no-repeat;	
}

.icon_user {
	background: url("../images/all_icon.png") -546px -87px no-repeat;	
}

.icon_diamond {
	background: url("../images/all_icon.png") -854px -329px no-repeat;	
}

.icon_link {
	background: url("../images/all_icon.png") -911px -329px no-repeat;	
}

.icon_config {
	background: url("../images/all_icon.png") -485px -90px no-repeat;	
}

.icon_config {
	background: url("../images/all_icon.png") -485px -90px no-repeat;	
}

.icon_board {
	background: url("../images/system.png") -240px -656px no-repeat;	
}

.icon_report {
	background: url("../images/system.png") -276px -185px no-repeat;	
}

.icon_attachment {
	background: url("../images/system.png") -25px -182px no-repeat;	
}


.cur {
	background-color: #39a6ae;
}

.all {
	background-color: #69c8ca;
}

.sub_ul > ul > li {
	height: 58px;
	line-height: 58px;
	background-color: #69c8ca;
	font-size: 22px;
	color: #fff;
	border-bottom: 1px solid #fff;
	cursor: pointer;
}

.sub_ul > ul > li a {
	display: block;
	padding-left: 20px;
	text-align: left !important;
}

.sub_ul > ul > li > p {
	width: 100%;
	float: left;
}

.sub_ul {
	display: none;
}

.showLi {
	display: list-item;
}

.root_li {
	padding-left: 25px;
	background-color: #9fdadd
}

.root_li p{
	width: 100px;
	float: left;
}

.root_li img {
	float: left;
	padding-top: 30px;
}

.main {
	height: 995px;
	margin-left: 0px !important;
	overflow:hidden;
}

.nav_list {
	width: 12.5% !important;
	height: 100%;
	background-color: #69c8ca;
}

.nav_list ul .root_li {
	height: 70px;
	line-height: 70px;
	color: #fff;
	font-size: 22px;
	border-bottom: 1px solid #fff;
}

.nav_list ul li a {
	color: #fff;
	text-align: right;
}

.nav_list i {
	height: 35px;
	width: 35px;
	display: inline-block;
	float: left;
	margin: 10px 20px 0 10px;
}


/** 淇敼鐩戞祴涓庢帶鍒禨idebar鏍峰紡  CHENPING 2013-10-16 */
.mainnav {
	width: 12.5% !important;
	height: 100%;
	background-color: #69c8ca;
}
#accordion {
	width: 100% !important;
    list-style: none;
    padding: 0 0 0 0;
    width: 170px;
    background-color: #9fdadd;
}
#accordion div {
    height: 70px;
	line-height: 70px;
	color: #fff;
	font-size: 22px;
	border-bottom: 1px solid #fff;
}
#accordion div img{
	float: right;
	padding-top: 30px;
	margin-right:90px;
}

#accordion div a {
	color: #fff;
	padding-left:25px;
}


#accordion ul {
    list-style: none;
    padding: 0 0 0 0;
    
}
#accordion ul{
    display: none;
}
#accordion ul li {
    height: 58px;
	line-height: 58px;
	background-color: #69c8ca;
	font-size: 22px;
	color: #fff;
	border-bottom: 1px solid #fff;
	cursor: pointer;
}
#accordion a {
    text-decoration: none;
    color:#fff;
	text-align: right;
	
}
#accordion a:hover {
    text-decoration: underline;
}

#accordion i {
	height: 35px;
	width: 35px;
	display: inline-block;
	float: left;
	margin: 10px 20px 0 10px;
}


.icon1 {
	background:url("../images/nav_ico.png") 0px -85px no-repeat;
}

.icon2 {
	background:url("../images/nav_ico.png") 4px -36px no-repeat;
}

.icon3 {
	background:url("../images/nav_ico.png") 2px 12px no-repeat;
}

.disnone {
	display: none;
}

.table_style1 {
	width: 100%;
}

.table_style1 th {
	height: 36px;
	background-color: #999;
	color: #fff;
	font-size: 16px;
	border: 1px solid #fff;
}

.table_style1 td {
	height: 50px;
	color: #666;
	font-size: 16px;
	border: 1px solid #fff;
}

.table_style1 tr:nth-child(even) {
	background-color: #f2f2f2;
}

.highlight {
	background-color: #BADBDD !important;
}

.icon_fan {
	background:url("../images/navicon.png") 8px 8px no-repeat;
}

.icon_water {
	background:url("../images/navicon.png") 8px -25px no-repeat;
}

.icon_flash {
	background:url("../images/navicon.png") 8px -57px no-repeat;
}

.icon_fire {
	background:url("../images/navicon.png") 8px -122px no-repeat;
}

.icon_shield {
	background:url("../images/navicon.png") 8px -185px no-repeat;
}

.icon_video {
	background:url("../images/navicon.png") 8px -217px no-repeat;
}

.icon_lock {
	background:url("../images/navicon.png") 8px -249px no-repeat;
}

.icon_screen {
	background:url("../images/navicon.png") 8px -279px no-repeat;
}

.icon_lamp {
	background:url("../images/navicon.png") 8px -346px no-repeat;
}

.icon_moon {
	background:url("../images/navicon.png") 8px -377px no-repeat;
}

.icon_lift {
	background:url("../images/navicon.png") 8px -411px no-repeat;
}

.icon_people {
	background:url("../images/navicon.png") 8px -443px no-repeat;
}

.icon_car {
	background:url("../images/navicon.png") 8px -472px no-repeat;
}

.icon_paper {
	background:url("../images/navicon.png") 8px -505px no-repeat;
}

.icon_music {
	background:url("../images/navicon.png") 8px -537px no-repeat;
}

.icon_stone {
	background:url("../images/navicon.png") 8px -571px no-repeat;
}

.icon_recycle {
	background:url("../images/navicon.png") 8px -632px no-repeat;
}

.icon_wrench {
	background:url("../images/sysIcon.png") -827px -530px no-repeat;
}

.icon_jam {
	background:url("../images/sysIcon.png") -512px -239px no-repeat;
}

.icon_plus {
	background:url("../images/sysIcon.png") -643px -183px no-repeat;
}

.icon_file_right {
	background:url("../images/sysIcon.png") -643px -239px no-repeat;
}

.icon_file_pop {
	background:url("../images/sysIcon.png") -75px -529px no-repeat;
}

.icon_file_question {
	background:url("../images/sysIcon.png") -75px -529px no-repeat;
}

.icon_file_list {
	background:url("../images/sysIcon.png") -75px -529px no-repeat;
}

.icon_list {
	background:url("../images/sysIcon.png") -215px -186px no-repeat;
}

.icon_thrc {
	background:url("../images/sysIcon.png") -147px -245px no-repeat;
}

.icon_chart {
	background:url("../images/sysIcon.png") -276px -188px no-repeat;
}


.icon_hvac {background:url("../images/navicon.png") 8px 8px no-repeat;}
.icon_wsd {background:url("../images/navicon.png") 8px -25px no-repeat;}
.icon_etd {background:url("../images/navicon.png") 8px -57px no-repeat;}
.icon_fas {background:url("../images/navicon.png") 8px -122px no-repeat;}
.icon_sassa {background:url("../images/navicon.png") 8px -122px no-repeat;}
.icon_msvdo {background:url("../images/navicon.png") 8px -217px no-repeat;}
.icon_sasac {background:url("../images/navicon.png") 8px -249px no-repeat;}
.icon_ep {background:url("../images/navicon.png") 8px -279px no-repeat;}
.icon_lspub {background:url("../images/navicon.png") 8px -346px no-repeat;}
.icon_lsn {background:url("../images/navicon.png") 8px -377px no-repeat;}
.icon_msem {background:url("../images/navicon.png") 8px -411px no-repeat;}
.icon_pfe {background:url("../images/navicon.png") 8px -443px no-repeat;}
.icon_infp {background:url("../images/navicon.png") 8px -505px no-repeat;}
.icon_bgmb {background:url("../images/navicon.png") 8px -537px no-repeat;}
.icon_parkm {background:url("../images/navicon.png") 8px -472px no-repeat;}
.icon_inenv {background:url("../images/icon_nav.png") -1001px -32px no-repeat; margin: 16px 15px 0 14px !important;}
.icon_envms {background:url("../images/navicon.png") 8px -632px no-repeat;}




.modal_btn {
	float: right;
	margin: 20px 0px;
}

.modal_btn div {
	width: 105px;
	height: 35px;
	line-height: 35px;
	border-radius: 5px;
	background-color: #66ccff;
	float: left;
	margin-right: 20px;
	color: #fff;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
}

.fill {
	height: 100%;
	background-color: #69c8ca;
}

.mode_cataloge {
	display:inline-block;
	width:210px;
	height:100%;
	padding:20px 0px 0px 5px;
	background-color:#FAFAFA;
	box-shadow: 3px 0px 5px #ccc;
	float: left;
    position: relative;
}
ul.cataloge_class_one  {margin:5px 0px 5px 10px;color:#000000;font-size:16px}
ul.cataloge_class_one .cataloge_name {margin: 0 10px 0 -4px; padding: 10px; border-bottom:1px solid #ccc; font-size: 23px;}
ul.cataloge_class_one >li {margin-bottom:10px;}

ul.cataloge_class_two {margin:5px 0px 5px 8px;color:#999;font-size:20px}
ul.cataloge_class_two >li {height:42px;line-height:42px;padding-left:30px;margin-bottom:15px;cursor: pointer;}	

ul.cataloge_class_two > li.current {background-color:#78CDD0;color:#ffffff;border-top-left-radius:24px;border-bottom-left-radius:24px;}

.funcBtn {
	width: 27px !important;
	background-color: #F2F2F2 !important;
	height: 150px;
	color: #FFF;
	position: absolute;
	left: 1850px;
}
.reiken {
	background-color: #FFF !important;
	background-image: none !important;
}

.disable {
	background-color: #999 !important;
}

.cataloge_class_two a {
	color: #999;
}

.cataloge_class_two > .current a {
	color: #fff;
}

.changeBg {
	background-color: #39a6ae !important;
}


.sunny {
    width:52px;
    height:52px;
    background:url('../images/weather.png') -135px -90px;
    background-repeat:none;
}

.raintosunny{
    width:52px;
    height:52px;
    background:url('../images/weather.png') -135px -179px;
    background-repeat:none;
}

.bigsnow{
    width:52px;
    height:52px;
    background:url('../images/weather.png') -135px -260px;
    background-repeat:none;
}

.bigrain{
    width:52px;
    height:52px;
    background:url('../images/weather.png') -135px -350px;
    background-repeat:none;
}

.cloudy {
    width:52px;
    height:52px;
    background:url('../images/weather.png') -135px -442px;
    background-repeat:none;
}

.middlerain {
    width:52px;
    height:52px;
    background:url('../images/weather.png') -135px -528px;
    background-repeat:none;
}

.nightcloudy {
    width:52px;
    height:52px;
    background:url('../images/weather.png') -135px -615px;
    background-repeat:none;
}

.overcast{
    width:52px;
    height:52px;
    background:url('../images/weather.png') -380px -80px;
    background-repeat:none;
}
.sunnytosmallrain {
    width:52px;
    height:52px;
    background:url('../images/weather.png') -380px -175px;
    background-repeat:none;
}

.rainandsnow {
    width:52px;
    height:52px;
    background:url('../images/weather.png') -380px -260px;
    background-repeat:none;
}

.hail {
    width:52px;
    height:52px;
    background:url('../images/weather.png') -380px -350px;
    background-repeat:none;
}
.thunderstorm {
    width:52px;
    height:52px;
    background:url('../images/weather.png') -380px -442px;
    background-repeat:none;
}

.smallsnow {
    width:52px;
    height:52px;
    background:url('../images/weather.png') -380px -528px;
    background-repeat:none;
}
.smallrain {
    width:52px;
    height:52px;
    background:url('../images/weather.png') -622px -175px;
    background-repeat:none;
}

.nightsunny {
    width:52px;
    height:52px;
    background:url('../images/weather.png') -622px -260px;
    background-repeat:none;
}

.rainandhail {
    width:52px;
    height:52px;
    background:url('../images/weather.png') -622px -350px;
    background-repeat:none;
}

.wind {
    width:52px;
    height:52px;
    background:url('../images/weather.png') -622px -440px;
    background-repeat:none;
}

.fog {
    width:52px;
    height:52px;
    background:url('../images/weather.png') -622px -528px;
    background-repeat:none;
}
.suncloudy{
    width:52px;
    height:52px;
    background:url('../images/weather.png') -702px -87px;
    background-repeat:none;
}
.picnotfound {
    width:52px;
    height:52px;
    background:url('../images/weather.png') -380px -10px;
    background-repeat:none;
}
/**
锟矫伙拷锟斤拷选锟斤拷
*/
.userDefaultsMask {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 1080px;
    z-index: 1000;
    background-color: #AAA;
    opacity: 0.95;
    display: none;
}

.userDefaults-popover {
    width: 630px;
    height: auto;
    margin: 104px auto;
    background-color: #FFF;
    display: none;
}

.userDefaults-header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #26C3BC;
}

.userDefaults-popover p {
    float: left;
    line-height: 50px;
    padding-left: 15px;
    font-size: 24px;
    color: #FFF;
}

.userDefaults-close {
    width: 50px;
    height: 50px;
    background-color: #30D7CF;
    text-align: center;
    line-height: 50px;
    color: #FFF;
    font-size: 34px;
    float: right;
    cursor: pointer;
}

.userDefaults-content {
	overflow: hidden;
    height: auto;
    width: 100%;

}

.userDefaults-footer {
    width:100%;
    height:50px;
    background-color:#efefef;
}

.userDefaults_btn_2 {

}

.userDefaults-btn {
    width: 90px !important;
    height: 35px;
    background-color: #78CDD0;
    line-height: 35px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    float: right;
    font-size: 16px;
    margin-top: 11px;
    border: 0;
    margin-right: 10px;
    border-radius: 4px !important;
    font-family: "寰蒋闆呴粦";
}

.left_menu {
    width: 240px;
    height: 1036px;
    float: left;
    overflow: hidden;
    position: relative;
    z-index:10;
}

.left_menu_mb {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    left: 0px;
    top: 0px;
    display: none;
}

.mode_cataloge_mb {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    left: 0px;
    top: 0px;
    display: none;
}

.left_menu i {
    height: 35px !important;
    width: 35px !important;
    display: inline-block;
    float: left;
    margin: 0 5px 0 10px;
}

.left_menu a {
    line-height: 37px;
    float: left;
    padding-left: 5px;
}

.left_menu table {

    border: 1px solid #fff;
    border-collapse:collapse;
}

.left_menu tr {
    height: 62px;
    overflow: hidden;
    line-height: 25px;
    text-align: center;
}

.left_menu td {
    width: 180px;
    overflow: hidden;
    line-height: 28px;
    text-align: center;
    font-size: 22px;
    background-color: #ccc;
    border-top:1px solid #fff;
    border-right:1px solid #fff;
    /*position: relative;*/
    border-collapse: collapse;
}

.xfgl {
    background-color:#EDB475 !important;
}

.afgl {
    background-color:#40A6AE !important;
}

.sbgl {
    background-color:#2B7CCE !important;
}

.yygl {
    background-color:#B283C5 !important;
}

.jngl {
    background-color:#9ACE2B !important;
}

.left_menu .bt {
    font-size: 24px !important;
    width: 60px !important;
    font-weight: bold !important;
    overflow: hidden !important;
}

.left_menu a {
    color:#525252;
}

.icon_hvac {background:url("../images/navicon.png") 8px 8px no-repeat;}
.icon_wsd {background:url("../images/navicon.png") 8px -25px no-repeat;}
.icon_etd {background:url("../images/navicon.png") 8px -57px no-repeat;}
.icon_fas {background:url("../images/navicon.png") 8px -122px no-repeat;}
.icon_sassa {background:url("../images/navicon.png") 8px -184px no-repeat;}
.icon_msvdo {background:url("../images/navicon.png") 8px -217px no-repeat;}
.icon_sasac {background:url("../images/navicon.png") 8px -249px no-repeat;}
.icon_ep {background:url("../images/navicon.png") 8px -279px no-repeat;}
.icon_lspub {background:url("../images/navicon.png") 8px -346px no-repeat;}
.icon_lsn {background:url("../images/navicon.png") 8px -377px no-repeat;}
.icon_msem {background:url("../images/navicon.png") 8px -411px no-repeat;}
.icon_pfe {background:url("../images/navicon.png") 8px -443px no-repeat;}
.icon_infp {background:url("../images/navicon.png") 8px -505px no-repeat;}
.icon_bgmb {background:url("../images/navicon.png") 8px -537px no-repeat;}
.icon_parkm {background:url("../images/navicon.png") 8px -472px no-repeat;}
.icon_inenv {background:url("../images/icon_nav.png") -1001px -32px no-repeat; margin: 16px 15px 0 14px !important;}
.icon_envms {background:url("../images/navicon.png") 8px -632px no-repeat;}

.cur_sys {
    background-color: #3DA7AD !important;
}

.cur_sys a {
    font-size: 24px !important;
}

.num_unit {
    color: #666;
}



.meter {cursor: pointer;
		z-index: 100;
		position: absolute;display: inline-block;}
.structure {margin-left:20px;position: relative;}
}