/*运行监测CSS*/
.title a {
	color: #fff;
	display: block;
}

.main {
	width: 100%;
	background-color: #e8e8e8;
	margin: 0 auto;
}

.mode {
	position: relative;
	width: 98%;
	margin: 20px auto 0;
	z-index:0;
}

.mode_select {
	height: 40px;
}

.mode_select li{
	float: left;
	margin-left: 60px;
	font-size: 18px;
	color: #000;
    float:right;
    margin: -9px 20px 0 0 !important;
}

#current_mode {
     font-size: 24px;
 }

.division_line {
	width: 100%;
	height: 1px;
	background-color: #999;
}

.current_underline {
	width: 220px;
	background-color: #78cdd0;
	height: 3px;
}

.content {
	width: 100%;
	margin-top: 30px;
	margin-left: 10px;
	height: 646px;
}

.triangle {
	top: 42%;
	right: 40%;
}

.hvac {
	margin: 0;
	height: 100%;
	/*background-color: #fff;*/
}

.title {
	width: 100%;
	height: auto;
	min-height: 62px;
	line-height: 62px;
    position: relative;
}

.title_havc {
	background-color: #2cb9dc;
	color: #459fe1;
}


/*3232323*/
.title_light {
	background-color: #2CB9DC;
	margin-top: 30px;
	color: #26c3bc;
}

/**/

.title_snhj {
	background-color: #f5fae5;
    color: #99CC00;
}

.title_snhj h1 a{
    color: #99CC00 !important;
}

.title h1 {
	color: #fff;
	font-size: 40px;
	padding-left: 12px;
	float: left;
	line-height: 62px;
}

.custom_select {
	width: 156px;
	font-size: 17px;
	height: 28px;
	background-color: #fff;
	float: left;
	line-height: 28px;
	margin: 18px 0 0 35px;
    cursor: pointer;
    color: #2A8FBD;
}

.custom_select p{
	padding-left: 15px;
}

.custom_select span {
	font-size: 2px;
	margin-left: 15px;
}

.hvac_chart {
	width: 100%;
	height: 300px;
	/**
	background-color: #666;
	*/
}

.chart_title {
    height: 62px;
    line-height: 62px;
}

.chart_title_des {
    float: left;
    text-indent: 15px;
    color: #333;
    font-size: 25px;
}

.hvac_config {
	height: 140px;
	width: 100%;
	color: #459fe2;
	margin-top: 10px;
}

.hvac_config>div {
	width: 92px;
	margin: 0;
	text-align: center;
	float: left;
	margin-left: 8px;
}

.device {
	font-size: 18px;
	margin-bottom: 5px;
    color: #666;
}

.para_box {
	color: #2B7CCE;
	width: 92px;
	height: 94px;
	background-color: #ECECEC;
	line-height: 94px;
}

.green {
	background-color: #26c3bc;
}

.blue {
	background-color: #7dd3e9;
}

.current_run_monitor {
	font-family: "Roboto Th";
	font-size: 44px;
	height: 62px;
	line-height: 64px;
    font-weight: bold;
}

.total_moitors {
	height: 20px;
	line-height: 20px;
    font-weight: bold;
    color: #797979;
	font-size: 16px;
}

.temperature {
	color: #666;
	padding-left: 20px;
	margin: 0px 0 20px 0px;
}

.temp_background {
	width: 90%;
	height: 27px;
	background-color: #efefef;
	margin-top: 1px;
}

.icon {
	width: 6px;
	float: left;
	height: 100%;
}

.outdoor_temp_icon {
	background-color: #6ab2e8;	
}

.outdoor_temp_describe {
	background-color: #dfdfdf;
	font-size: 16px;
	float: left;
	width: 140px;
	padding-left: 8px;
	height: 100%;
	line-height: 28px;
}

.position_right {
	float: right;
	font-size: 16px;
	line-height: 26px;
}

.outdoor_humidity_icon {
	background-color: #26c3bc;
}

.hot_generator_room_icon {
	background-color: #e66e4c;
}

.humidity_generator_room_icon {
	background-color: #ff9900;
}

.left_content {
    float: left;
    margin-left: 20px;
}

.right_content_bar {
    float: right;
    /*width: 250px;*/
    margin-right: 30px;
}

.left_content, .right_content_bar {
    margin-top: 10px;
}

/*.block {*/
	/*margin-left: 20px !important;*/
    /*width: 384px;*/
    /*height: 646px;*/
    /*float: left;*/
    /*position: relative;*/
/*}*/

.floor_select {
	width: 100%;
	height: 80px;
}

.floor_select .custom_select {
	background-color:#2cb9dc;
	float: right;
	width: 100px;
	margin: 30px 20px 0 20px;
	color: #fff;
}

.content .span2 {
	width: 20% !important; 
}

.open_state {
	color: #666;
	font-size: 16px;
	padding: 8px;
}

.emblaze {
	float: left;
	width: 77px;
	height: 55px;
	line-height: 55px;
	text-align: center;
}

.open_detail {
	float: left;
	margin-left: 1px;
	font-size: 16px;
}

#LSN .open_detail {
	width : 250px;
}

.float_left {
	float: left;
    padding-left: 5px;
}

.float_right {
	float: right;
	padding-right: 15px;
}

.bg_grey {
	background-color: #e7e7e7;
}

.flag_icon {
	width: 5px;
	height: 55px;
	background-color: #26c3bc;
	float: left;
}

.open_count {
	width: 257px;
	height: 27px;
	line-height: 27px;
	padding-left: 15px;
}

.specially {
	margin-top: 1px;
	color: #63c7c9;
}

.specially1 {
	color: #26c3bc;
}

.spec {
	margin-top: 0px;
}

.division_block {
	background-color: #e8e8e8;
	height: 30px;
}

.block_over {
	margin-bottom: 20px;
}

.title_ERAD {
	background-color: #2cb9dc;
}

.title_in_out_water {
	background-color: #2CB9DC;
	color: #5cc8e4;
}

.ERAD_chart {
	width: 100%;
	height: auto;
	/**
	background-color: #666;
	*/
}

.ERAD_temp {
	margin-top: 10px;
}

.IO_water {
	margin-top: 30px;
	padding-bottom: 20px;
}

.particular_para {
	padding: 0 20px;
}

.ERAD_block {
	padding-left: 0px;
	margin-bottom: 9px;
}

.transformer_chart {
	width: 100%;
	height: 64px;
	/**
	background-color: #666;
	*/
}


.video_img {
	padding: 10px 15px;
}

.inoutwater {
	margin-top: 30px;
	height: 120px;
}

.transformer_chart1 {
	width: 100%;
	height: 95px;
	margin: 4px auto;
	/**
	background-color: #666;
	*/
}

.module {
	background-color: #fff; 
	margin-bottom: 14px;}

.module_1 {
	width: 100%;
	height: auto;
	background-color: #fff;
}

.module_4 {
	margin-bottom: 0px;
}

.monitoring_module {
	height: 54px;
	background-color: #78cdd0;
}

.monitoring_module h1{
	font-size: 25px;
	padding-left: 12px;
	line-height: 54px;
	float: left;
	color: #fff;
}

.content .span1 {
	width: 13% !important;
	margin-left: 20px !important;
}

.video_icon {
	padding-top: 10px;
	float: left;
	margin-left: 15px;
}

.icon2 {
	padding-top: 13px;
	padding-left: 5px;
}

.include {
	padding: 7px;
	padding-left: 11px;
}

.father {
	height: 35px;
	margin-top: 1px;
	font-size: 16px;
    line-height: 35px;
}

.child {
	height: 100%;
	color: #666;
}

.child_2_describe > p {
	padding-left: 10px;
    font-size: 22px;
}

.child_3_value > p {
	padding-right: 15px;
    font-size: 22px;
}

.child_1_icon {
	background-color: #78cdd0;
	float: left;
}

.child_2_describe {
	width: 104px;
	background-color: #e7e7e7;
	float: left;
}

.child_3_value {
	width: 114px;
	background-color: #e7e7e7;
	margin-left: 1px;
	text-align: right;
	float: left;
}

.style2_1 {
	width: 113px;
}

.style2_info {
	width: 144px !important;
}

.style2 {
	width: 106px;
	height: 27px;
	padding: 0
}

.style2 > p {
	padding-left: 10px;
}

.style2 > span {
	font-size: 16px;
}

.style2 > .float_left {
	padding-left: 10px;
}

.father1 {
	height: 55px;
	color: #666;
}

.father1_1 {
	margin-top: 1px;
}

.bigger {
	text-align: left;
	font-size: 20px;
}

.bigger > p {
	padding-left: 15px;
}

.top_content {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 2px;
}

.bottom_content {
	margin-left: 20px !important;
	margin-top: 35px;
}

.bottom_content .module {
	margin-left: 25px;
	width: 250px;
    float: left;
}

.bottom_content .PFE {
    width: 460px !important;
    margin-left: 1px !important;
}

.bottom_content .PFE .include {
    width: 200px !important;
    float: left;
   
}

.fire_control {
	background-color: #efb472;
}

.title2 {
	min-height: 56px;
	line-height: 56px;
}

.title2 h1 {
	line-height: 56px;
	font-size: 28px;
}

.block_title {height: 38px;line-height: 38px;font-size: 26px; color:#666 }

.lift_run {
	background-color: #2CB9DC;
}

.color_bar_bak {
    width: 100%;
    height: 34px;
}

.color_bar {
    width: 100%;
    height: 34px;
}

.color_bar_3_bak {
    width: 243px;
    height: 100%;
}

.color_bar_3 {
    width: 243px;
    height: 100%;
    background-color: #FF9900;
}

.color_bar_5_bak {
    width: 243px;
    height: 100%;
}

.color_bar_5 {
    background-color: #41B7BA;
    width: 243px;
    height: 100%;
}

.color_bar_5 .little_bar{
    background-color:#78CDD0 !important;
}

.color_bar_3 .little_bar {
    background-color: #EFB472;
}

.color_bar .little_bar {
    width: 5px;
    height: 34px;
}

.color_bar_1_bak {
    width: 384px;
    height: 100%;
    margin-left: 20px;
}

.color_bar_1 {
    width: 384px;
    height: 100%;
    background-color: #79A200;
    margin-left: 20px;
}

.color_bar_1 .little_bar {
    background-color: #99CC00;
}

.color_bar_bak p {
    font-size: 24px;
	line-height: 30px;
	text-indent: 0px;
	color: gray;
}

.color_bar p {
    color: #fff;
    font-size: 22px;
    line-height: 34px;
    text-indent: 14px;
}

.monitor {
    margin-top: 2px;
}

.color_bar_2_bak {
    width: 1192px;
    height: 100%;
    margin-left: 20px;
}

.color_bar_2 {
    width: 1192px;
    height: 100%;
    background-color: #1E98B7;
    margin-left: 20px;
}

.color_bar_1 > *,.color_bar_2> *, .color_bar_3 > * {
    float:left;
}

.white_bar {
    width:1px;
    height: 100%;
    background-color: #fff;
}

.color_bar_2 .little_bar {
    background-color: #2CB9DC;
}

.color_bar_4 {
    width: 100%;
    height: 6px;
    background-color: #B385C7;
}

.bottom_color_bar_bak {
    width: 34px;
    height: 200px;
    float: left;
}

.bottom_color_bar {
    width: 34px;
    height: 200px;
    background-color: #9D62B7;
    float: left;
}

.white_bar_2 {
    width: 100%;
    height: 1px;
    background-color: #fff;
}

.bottom_color_bar_bak p {
    color: gray;
    font-size: 24px;
    text-align: center;
    line-height: 25px;
}

.bottom_color_bar p {
    color: #FFF;
    font-size: 22px;
    text-align: center;
    line-height: 25px;
}

.color_bar_bak > div {
    float: left;
}

.color_bar > div {
    float: left;
}

.park_manage {
    background-color: #b385c7;
}

.info_issue {
	background-color: #b385c7;
}

.passange_static {
	background-color: #B385C7;
}

.bgm {
    background-color: #b385c7;
}

.energey_static {
	background-color: #99cc00;
}

.icon_red {
	background-color: #40A6AE;
}

.para_value {
	font-size: 18px;
}

.para_unit {
	font-size: 14px;
}

.form1 {
	color: #459fe0;
}

/*.color_1 {*/
	/*color: #e66e4c;*/
/*}*/

.color_2 {
	color: #26c3bc;
}

.color_3 {
	color: #5cc8e4;
}

.right_content {
	width: 76.2% !important;
}

.Btn-big_2  {
	line-height: 20px;
	text-align: center;
}

.Btn-big_2 * {
	clear: both !important;
	float: none;
	margin: 0;
}

.Btn-big_2 p {
	margin: 0;
	color: #fff;
}

.up_p {
	font-size: 18px; 
	margin-top: 2px !important;
}

.down_p {
	font-size: 12px;
}

.Btn-big * {
	float: none;
	margin-left: 0 !important;
}

.btn_group {
	margin-top: 20px;
}

.cataloge_class_three {
	height: auto !important;
	/*display: none;*/
}

.cataloge_class_three li {
	height: 42px;
	line-height: 42px;
	padding-left: 30px;
	margin-bottom: 15px;
	cursor: pointer;
}

.cataloge_class_three > ul > .current {
	background-color: #78CDD0;
	color: #FFF;
	border-top-left-radius: 24px;
	border-bottom-left-radius: 24px;
}

.cataloge_class_three > ul > .current > a {
	display: block;
	color: #fff;
}

.changeBg {
	background-color: #39a6ad;
}

.device_tab {
	height: 50px;
	background-color: #3399ff;
	margin-top: 10px;
	width: 95%;
}

.device_tab ul {
	padding-top: 20px;
}

.device_tab > ul > li {
	width: 105px;
	height: 34px;
	text-align: center;
	float: left;
	margin-left: 20px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	line-height: 34px;
	font-size: 16px;
}

.device_tab > ul > li > a {
	color: #fff;
}

.cur_device {
	background-color: #fff;
}

.cur_device a {
	color: #3399ff !important;
}

.tab_style_2 {
	height: 40px;
	line-height: 40px;
}

.loop {
	width: 80px;
	height: 100%;
	float: right;
	background-color: #000;
	color: #fff;
	text-align: center;
}

.cur {
	background-color: #39a6ae !important;
}

.monitoring_module a {
	color: #fff;
}

.menu_layout {
	width: 1440px;
	height: 58px;
	list-style-position: 58px;
	margin: 0 auto;
	border-bottom: 1px solid #9c9c9c;
}

.mode_switch {
	float: left;
	color: #333333;
	font-weight: thin !important;
}

.auto_btn {
	float: right;
	margin-top: 8px;
}

.mode_switch > ul > li {
	float: left;
	margin-right: 65px;
	height: 55px;
	cursor: pointer;
}

.mode_switch > ul > li >p {
	font-size: 18px;
	padding-top: 14px;
}

.mode_switch > ul > li * {
	float: left;
}

.mode_switch * {
	line-height: 41px;
}

.countdown {
	display: none;
	padding-top: 24px;
}

.countdown > p {
	line-height: 31px !important;
	font-size: 16px;
}

.current_mode > p{
	font-size: 24px !important;
	border-bottom: 3px solid #79cdcd;
}

.current_mode > .countdown {
	display: inline;
	border-bottom: 3px solid #999;
}

.auto_switch {
	margin-right: 200px;
	font-size: 20px;
	color: #fff;
}

.Btn-big > i {
	width: 35px;
	height: 29px;
	display: inline-block;
	float: left;
	margin: 6px 15px;
}

.Btn-big > p {
	color: #fff;
	font-size: 20px;
	float: left;
}

.system_plan {
	background-color: #bdbdbd;
}

.mask {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1920px;
	height: 1080px;
	z-index: 1000;
	background-color: #AAA;
	opacity: 0.95;
	display: none;
}

.popdiv {
	width: 959px;
	height: 592px;
	background-color: #fff;
	margin: 0 auto;
	margin-top: 300px;
	position: relative;
}

.header {
	width: auto;
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
	background-color: #39a6ae;
	color: #fff;
	font-size: 22px;
}

.popdiv .close {
	float: right;
	line-height: 40px;
	margin-right: 5px;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px 0 #FFF;
	opacity: 1;
}

.block_content {
	margin-top: 15px;
}

.block_content > div {
	width: 434px;
	height: 880px;
	float: left;
	margin: 0px 15px 0px 30px;
}

.block_content > div > div {
	background-color: #ccc;
	width: 100%;
	height: 840px;
}

.block_content p {
	font-size: 30px;
	line-height: 40px;
	color: #8faadc;
}

#mask{
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  display:none;
  z-index:1000;
  background: rgba(170,170,170,0.95);
}

.dialog {
	width: 1000px;
	background-color: #fafafa;
	height: auto;
	margin: 350px auto;
}

.dialog-header {
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #26C3BC;
}

.dialog-body {
	width: 100%;
	height: auto;
}

.dialog-footer {
	width: 100%;
	height: 50px;
    vertical-align: bottom;
    margin-bottom: 0px;
	background-color: #EFEFEF;
}

.dialog-title {
	float: left;
	line-height: 50px;
	padding-left: 15px;
	font-size: 24px;
	color: #fff;
}

.dialog-close {
	width: 50px;
	height: 50px;
	background-color: #30D7CF;
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-size: 34px;
	float: right;
	cursor: pointer;
}

.dialog-body-content {
	width: 100%;
	line-height: 80px;
	text-align: center;
	font-size: 20px;
	color: #666;
}

.dialog-btn {
	width: 90px;
	height: 35px;
	background-color: #78CDD0;
	line-height: 35px;
	cursor: pointer;
	text-align: center;
	color: #fff;
	float: right;
	font-size: 16px;
	margin-top: 11px;
    border-radius: 4px;
}

.dialog-cancel {
	margin-right: 6px;
}

.dialog-confirm {
	margin-left: 15px;
	margin-right: 15px;
}

.dialog-save {
	margin-left: 15px;
	margin-right: 15px;
}

.left_tree {
	width: 220px;
	height: 530px;
	float: left;
}
.right_table {
	width: 700px;
	height: 530px;
	float: right;
	background-color: #e9e9e9;
}

.del_btn {
	background-color: #78CDD0;
	color: #ffffff;
	height: 30px;
	line-height: 30px;
	width: 60px;
	display: inline-block;
	text-align: center;
	font-size: 13px;
}

#opera_table {
	display: none;
}

.newT {
	width: 80%;
	margin: 30px auto 0px;
}

.newT th {
	color: #fff;
}

.newT td, .newT th {
	text-align: center;
	border: 1px solid #fff;
}

.newT thead tr {
	background-color: #999;
}

.newT > tbody > tr:nth-child(odd){
	background-color: #fff;
}

#copy_src {
	display: none;
}

#tree {
	margin: 30px 0px 40px 20px;
}

.addTr {
	margin-left: 20px;
}

.dialog-tip {
	float: left;
	line-height: 50px;
	padding-left: 15px;
	color: #f00;
}

/*#table_list {
	width: 90%;
	height: auto;
	margin: 10px auto;
	display: none;
}

#table_list table {
	width: 90%;
}

#table_list td {
	width: 50%;
	text-align: center;
	font-size: 18px;
	border: 1px solid #fff;
	height: 40px;
	color: #666;
}

#table_list tr:nth-child(odd){
	background-color: #fff;
}

#table_list tr:nth-child(even){
	background-color: #eaeaea;
}

#table_list > table > thead > tr {
	background-color: #999 !important;
	height: 50px;
	color: #fff;
	font-size: 18px;
}

#table_list > table > thead > tr > th {
	background-color: #999 !important;
	height: 50px;
	color: #fff;
	border: 1px solid #fff;
	font-size: 18px;
}



.table_list  {
	width: 90%;
	height: auto;
	margin: 10px auto;
}

.table_list  table {
	width: 90%;
}

.table_list  td {
	width: 50%;
	text-align: center;
	font-size: 18px;
	border: 1px solid #fff;
	height: 40px;
	color: #666;
}

.table_list tr:nth-child(odd){
	background-color: #fff;
}

.table_list  tr:nth-child(even){
	background-color: #eaeaea;
}

.table_list  > table > thead > tr {
	background-color: #999 !important;
	height: 50px;
	color: #fff;
	font-size: 18px;
}

.table_list  > table > thead > tr > th {
	background-color: #999 !important;
	height: 50px;
	color: #fff;
	border: 1px solid #fff;
	font-size: 18px;
}*/



/*123*/
/*.self-inspection, .shop_open, .shop_close {*/
	/*float: right !important;*/
	/*margin: -9px 20px 0 0 !important;*/
/*}*/

.self-inspection-popover {
	width: 1240px;
	height: 797px;
	background-color: #fff;
	margin: 104px auto;
	display: none;
}

.self-inspection-popover .self-inspection-popover-header {
	width: 100%;
	height: 65px;
	line-height: 65px;
	font-size: 30px;
	color: #FF2341;
	text-indent: 2em;
}

.self-inspection-popover .self-inspection-popover-content {
	width: 100%;
	height: 685px;
}

.self-inspection-popover .self-inspection-popover-content .left_nav {
	width: 240px;
	height: 100%;
	border-right: 1px solid #999;
	float: left;
}

.self-inspection-popover .self-inspection-popover-content .right_content_block {
	width: 995px;
	height: 100%;
	float: left;
	/*padding-left: 15px;*/
	/*overflow: scroll;*/
}

.left_nav > .nav_list_ul > li {
	padding-left: 30px;
	height: 70px;
	cursor: pointer;
}

.left_nav > .nav_list_ul > li:hover {
	background-color: #ececec;
}

.left_nav > .nav_list_ul > li:hover > h1 {
	color: #157DFA !important;
}

.left_nav .nav_list_ul h1 {
	font-size: 24px;
	color: #333;
}

.left_nav .nav_list_ul p {
	font-size: 18px;
	color: #555;
}

.right_content_block > div {
	width: 100%;
	padding-left: 15px;
	display: none;
}

.right_content_block h1 {
	font-size: 24px;
	color: #333 !important;
}

.mode_list_block {
	width: 94%;
	margin: 0 auto;
}

.right_content_block .mode_list {
	width: 100%;
	height: 100%;
}

.right_content_block .mode_list > li {
	width: 455px;
	height: 26px;
	line-height: 26px;
	/*float: left;*/
	margin-top: 15px;
	border-left: 6px solid #53d769;
}

.right_content_block .mode_list > li > * {
	float: left;
}

.right_content_block .sys_name {
	width: 120px;
	font-size: 20px;
	color: #333;
	padding-left: 10px;
}

.right_content_block .run_mode {
	width: 200px;
	font-size: 18px;
	color: #777;
} 

.has_info {
	width: 50px;
}

.has_info > img{
	margin-top: 3px;
}

.right_content_block .now_info {
	width: 92%;
	margin: 0 auto;
}

.right_content_block .now_info  td{
    font-size: 16px !important;
}

.right_content_block .now_info .title_now_info {
	text-align: left;
}

.now_info tr {
	height: 52px;
}

.now_info th > h2{
	font-size: 26px;
	color: #333;
}

.now_info td > p {
	font-size: 22px;
	color: #777;
	line-height: 24px;
}

.now_info td > h4 {
	font-size: 13px;
	color: #157DFA;
}

.now_info tr > td:nth-child(2) {
	text-align: center;
	font-size: 22px;
	color: #777;
}

.now_operate_state {
	width: 92%;
	margin: 0 auto;
}

.now_operate_state > div {
	height: 57px;
	margin-top: 10px;
}

.now_operate_state p {
	font-size: 22px;
	color: #777;
	line-height: 24px;
}

.now_operate_state h4 {
	font-size: 13px;
	color: #157DFA;
}

.nav_chage_color {
	background-color: #ececec;
}

.nav_chage_color > h1 {
	color: #157DFA !important;
}

.current_block {
	display: inline-block !important;
}
.self-inspection-popover-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #EFEFEF;
    height: 50px;
}


.self-inspection-popover-footer .dialog-btn {
    width: 90px;
    height: 35px;
    background-color: #78CDD0;
    line-height: 35px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    float: right;
    font-size: 16px;
    margin-top: 11px;
    margin-right: 7px;
}

.bottom_content .include {
    height: 113px;
    padding: 10px 10px 0px 10px;
}

.shop {
    width: 630px;
    height: 490px;
    margin: 104px auto;
    background-color: #fff;
    display: none;
}

/*.shop .shop-content >div {*/
    /*width: 85%;*/
    /*margin: 10px auto;*/
/*}*/

.shop .shop-content {
    width: 100%;
    height: 430px;
    display: none;
}


.shop .shop-content .input-append {
    margin-right: 10px;
}

.shop .shop-content .shop_table {
    width: 100%;
    margin-top: 10px;
}

.shop .shop-content .shop_table td,.shop .shop-content .shop_table th {
    height: 30px;
    text-align: center;
    font-size: 16px;
}

.shop .shop-content .shop_table thead tr {
    background-color: #999;
    color: #fff;
}

/*.shop .shop-content .shop_table tbody tr {*/
    /*color: #808080;*/
/*}*/

/*.shop .shop-content .shop_table tbody tr:nth-child(odd){*/
    /*background-color: #d6d6d6;*/
/*}*/

.tbody_show_tr_diff{
    background-color: #ffffff;
}
.tbody_show_tr_diff2{
    background-color: #d9d9d9;
}

.self-inspection-popover-footer .dialogTip {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    color: #F00;
    text-align: left;
    font-size: 20px;
}

.self-inspection-popover-footer .error {
    display:inline-block;
    height:50px;
    line-height:50px;
    color:red;
    text-align:left;
}

.self-inspection-popover-footer .tip {
    display:inline-block;
    height:50px;
    line-height:50px;
    color:#78CDD0 !important;
    text-align:left;
}

/*#ETD {*/
    /*width: 100%;*/
    /*height: 410px;*/
/*}*/

/*#LSPUB {*/
    /*width: 100%;*/
    /*height: 460px;*/
/*}*/

/*#ENVMS {*/
    /*width: 100%;*/
    /*height: 410px;*/
/*}*/

/*#LSN {*/
    /*width: 100%;*/
    /*height: 156px;*/
/*}*/

/*#WSD {*/
    /*width: 100%;*/
    /*height: 206px;*/
/*}*/

#WSD .include {padding-top: 18px;}
#WSD .include .child_3_value {width: 240px;}

/*#INENV {*/
    /*width: 100%;*/
    /*height: 206px;*/
    /*height: 236px;*/
/*}*/
/*
#MSVDO {
	width: 100%;
	height: 162px;
}*/

.unit-div {
    width: 100%;
    height: 151px;
    position: relative;
}

.unit-div-2 {
    width: 100%;
    height: 200px;
    position: relative;
}

/*.container-block {*/
    /*position: relative;*/
    /*background-color: #fff;*/
/*}*/

.mb {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    display: none;
    z-index: 200;
}

/*.dx-icon {
	height: 91px;
	width: 100%;
	background:url('../images/404/background.png');
	position: absolute;
	bottom: 0px;
	line-height: 94px;
}*/

.dx {
    width: 50px;
    height: 50px;
    background: url('../images/diaoxianicon.png');
    margin-top: 20px;
}

.dx-icon span {
    color: #000;
    font-size: 30px;
}

.dx-icon > div {
    margin-top: 50%;
}

.dx-icon > div > * {
    float: left;
    margin-left: 30px;
}

.dx-icon {
    width: 100%;
    background:url('../images/background.png');
    position: absolute;
    bottom: 0px;
    line-height: 94px;
}

#HVAC .dx-icon {
    height: 584px;
}

#HVAC .dx-icon > div {
    margin-top: 200px;
}

#LSPUB .dx-icon {
    height: 398px;
}

#LSPUB .dx-icon > div {
    margin-top: 150px;
}

#LSN .dx-icon {
    height: 94px;
}

#LSN .dx-icon > div {
    margin-top: 8px;
}

#ETD .dx-icon {
    height: 348px;
}

#ETD .dx-icon > div {
    margin-top: 130px;
}

#WSD .dx-icon {
    height: 144px;
}

#WSD .dx-icon > div {
    margin-top: 30px;
}

#INENV .dx-icon {
    /*height: 144px;*/
    height: 174px;
}

#INENV .dx-icon > div {
    margin-top: 30px;
}

#MSVDO .dx-icon {
    height: 100px;
}

#MSVDO .dx-icon > div {
    margin-top: 10px;
}

#SASSA .dx-icon {
    height: 100px;
}

#SASSA .dx-icon > div {
    margin-top: 10px;
}

#SASAC .dx-icon {
    height: 100px;
}

#SASAC .dx-icon > div {
    margin-top: 10px;
}

#EP .dx-icon {
    height: 100px;
}

#EP .dx-icon > div {
    margin-top: 10px;
}

#FAS .include .father .child_2_describe,
#BGMB .include .father .child_2_describe,
#SASSA .include .father .child_2_describe
{width: 130px;}

#FAS .include .father .child_3_value,
#BGMB .include .father .child_3_value,
#SASSA .include .father .child_3_value
{width: 240px;}

#PFE .include .father .child_2_describe {width: 130px;}
#PFE .include .father .child_3_value {width: 62px;}

#FAS .dx-icon {
    height: 144px;
}

#FAS .dx-icon > div {
    margin-top: 25px;
}

#MSEM .dx-icon {
    height: 144px;
}

#MSEM .dx-icon > div {
    margin-top: 25px;
}

#right_content_id {
	width: 1620px;
}

#PARKM .dx-icon {
    height: 144px;
}

#PARKM .dx-icon > div {
    margin-top: 25px;
}

#PARKM .style2,#MSEM .style2,#INFP .style2 {width: 136px;}

#INFP .dx-icon {
    height: 144px;
}

#INFP .dx-icon > div {
    margin-top: 25px;
}

#PFE .dx-icon {
    height: 144px;
}

/*#PFE .dx-icon > div {*/
    /*margin: 25px 0 0 130px;*/
/*}*/

#BGMB .dx-icon {
    height: 144px;
}

#BGMB .dx-icon > div {
    margin-top: 25px;
}

#ENVMS .dx-icon {
    height: 348px;
}

#ENVMS .dx-icon > div {
    margin-top: 120px;
}

.unit-div .dx-icon span {
    color: #000;
    font-size: 20px !important;
}

.unit-div .dx-icon > div > * {
    float: left;
    margin-left: 10px!important;
}

.unit-div-2 .dx-icon span {
    color: #000;
    font-size: 20px !important;
}

.unit-div-2 .dx-icon > div > * {
    float: left;
    margin-left: 10px!important;
}
/*start*/
.dialog > .header {
    background-color: #26C3BC;
    height: 50px;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
.dialog > .header > .header_title {
    color: #FFFFFF;
    display: inline-block;
    float: left;
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    padding-left: 20px;
    width: auto;
}
.dialog > .header > .close {
    background-color: #30D7CF;
    color: #FFFFFF;
    float: right;
    font-weight: normal !important;
    width: 50px;
    height: 50px;
    line-height: 50px;
    opacity: 1 !important;
    text-align: center;
    font-size: 34px;
}
.dialog > .body {
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.dialog > .footer {
    background-color: #EFEFEF;
    height: 50px;
    width: 100%;
    /*position: absolute;*/
    bottom: 0px;
}
.dialog > .footer > .error {
    color: #FF0000;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: left;
}
.dialog > .footer > .tip {
    color: #78CDD0;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: left;
}
.dialog > .footer > .button_group {
    color: #FFFFFF;
    float: right;
    font-size: 14px;
    height: 35px;
    margin-right: 15px;
    margin-top: 10px;
    width: 200px;
}
.dialog > .footer > .button_group > .button {
    background-color: #78CDD0;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 90px;
    cursor:pointer;
    margin-right: 7px;
    font-size: 16px;
    border-radius: 4px;
}

.custom_select_2 > p {
    float: left;
}

.custom_select_2 > i {
    float: right;
    cursor: pointer;
}

.custom_select_2 > ul {
    position: absolute;
    width: 154px;
    height: auto;
    top: 47px;
    z-index: 1000;
}

.spec_custom_select > ul {
    position: absolute;
    width: 98px;
    height: auto;
    top: 121px;
    z-index: 1000;
}

.custom_select_2 > ul > li {
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    text-indent: 15px;
    margin-top: 1px;
    background-color: #fff;
}

.spec_custom_select > ul > li {
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    text-indent: 15px;
    margin-top: 1px;
    background-color: #fff;
    color: #26c3bc;
}

.spec_custom_select p,.spec_custom_select i {
    float: left;
}

.icon_xl {
    width: 8px;
    height: 7px;
    background: url('../images/up_arrow2.png');
    margin: 11px 17px 5px 22px;
}

.icon_xl_2 {
    width: 8px;
    height: 7px;
    background: url('../images/white_arrow.png');
    margin: 11px 17px 5px 22px;
}

.shop-content, .shop-open {
    font-size: 16px;
}

.shop-panel {
    width: 84%;
    margin: 10px auto;
}

#create_mode_apply .body {
    padding: 20px;
    font-size: 16px;
    color: #333;
}
#create_mode_apply #patternDesc {
    margin-top: 15px;
}

#create_mode_apply .allModeList div {
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #86D3D5;
    float: left;
    border-radius: 4px;
    color: #fff;
    margin: 0px 22px 25px 0px;
    font-size: 22px;
    cursor: pointer;
}

#create_mode_apply .allModeList {
    width: 95%;
    overflow: hidden;
    float: left;
}

#create_mode_apply .allModeList .selected_mode {
    background-color: #39a6ae;
}

/*123*/
.right_slide_bar {
    float: right;
}
.idSliderUp {
    background: url("../images/sysIcon.png") no-repeat scroll -806px -535px #39A6AE;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 32px;
    width: 29px;
}
#idSlider {
    height: 400px;
    position: relative;
    width: 29px;
}

#idBar {
    background-color: #31A6AF;
    border-radius: 4px 4px 4px 4px;
    height: 150px;
    position: absolute;
    width: 29px;
}

.idSliderDown {
    background: url("../images/sysIcon.png") no-repeat scroll -775px -535px #39A6AE;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 32px;
    width: 29px;
}

.bar {
    height: 18px;
    background: green;
}

.mode_detail {width:100%;height:730px;margin-top:10px;font-size:13px;overflow:hidden}

.mode_detail .mode_table {width:97%;height:470px;display:inline-block}
.mode_detail .mode_table table {width:100%;height:auto;text-align:center}
.mode_detail .mode_table table tr{height:40px;}
.mode_detail .mode_table table >thead{background-color:#999999}

.mode_detail .mode_table .time {width:10%}
.mode_detail .mode_table .offset_time {width:12%}
.mode_detail .mode_table .equpment_group {width:12%}
.mode_detail .mode_table .action_desc {width:10%}
.mode_detail .mode_table .cmd {width:10%}
.mode_detail .mode_table .open_count {width:12%}
.mode_detail .mode_table .water_temperature {width:12%}
.mode_detail .mode_table .water_pressure {width:12%}
.mode_detail .down_down {margin-top:500px}
.mode_table {
    font-size: 16px;
    text-align: center;
    table-layout: fixed;
    width: 100%;
    overflow: hidden;
}

.mode_table>tbody>tr:nth-child(odd){
    background-color: #ddd;
}

.mode_table td, .mode_table th {
    border: 1px solid #fff;
    width: 109px;
}

.mode_table  td{
    height: 50px;
}

.mode_table th {
    color: #fff;
    height: 40px;
    background-color: #999;
}

.mode_table tr{
    color: #666;
}
.wcBlock {
    width: 100%;
    height: 170px;
}

#idSlider_2 {
    height: 80px;
}

#idBar_2 {
    background-color: #31A6AF;
    border-radius: 4px 4px 4px 4px;
    height: 30px;
    width: 29px;
}

.mode_table tbody tr:nth-child(odd){
    background-color:#E4E4E4
}


/*��Դ����*/
#ENVMS .energy_chart {
	
}

#ENVMS .energy_chart .chart_content {
	width: 100%;
	height: 90px;
	margin: 0 auto;
}

#ENVMS .energy_chart .chart_bottom .chart_bottom_title {
	color: #666;
	font-size: 20px;
	text-indent: 30px;
	font-weight: bold;
}

#ENVMS .energy_chart .chart_bottom .chart_bottom_data > .data_value {
	color: #fac434;
	font-size: 38px;
	font-weight: bold;
	font-family: "Roboto Th";
	line-height: 30px;
	padding-top: 15px;
}

.num_unit {
    font-size: 16px;
}

.chart_bottom_data {
    margin: 10px 0px;
}

.include_2 {
    padding-left: 20px;
}

#HVAC .hvac_config > div {
	margin-top: 17px;
}

.light_height {
	height: 72px;
	line-height: 70px;
}

.lsn_light_class {
	line-height: 35px;
	height: 35.5px;
}

.energy_ele_chart {
	width: 100%;
	height: 211px;
	margin-top: 12px;
}

#BGMB .include .child_1_icon {background-color: #B385C7;}
#PFE .include .child_1_icon {background-color: #B385C7;}
#FAS .include .child_1_icon {background-color: #efb472;}
#MSEM .include .flag_icon {background-color: #2CB9DC;}
#LSN .flag_icon {background-color: #2cb9dc;}

/*#WSD .para_box {background-color:#459FE2 !important;}*/
/*#LSPUB .para_box {background-color:#459FE2 !important; }*/

.pie_style {
	float: right;
	width: 260px;
}

<<<<<<< .working
/*end*/



.right_content1 {
    width: 1680px !important;
    height: 1036px;
    float: right;
    background-color:#E8E8E8;
}



.container-block {
    width: 408px;
    height: 220px;
    position: relative;
    float: left;
    background-color: #fff;
    overflow: hidden;
    margin: 10px 0 0px 10px;
}



.container-block table td{
    background-color: #E7E7E7;
    border: 1px solid #fff;
}

.container-block table {
    width: 90%;
    height: 130px;
    font-size: 22px;
    color: #666;
    margin: 13px auto 0px;
    border: 0px !important;
}

.btl {
    border-top: 0px !important;
    border-bottom: 0px !important;
    background-color: #D9D9D9 !important;
    text-align: center;
    width: 97px;
}

.num_col {
    color: #2B7CCE;
}

#LSPUB .hvac_config, #MSVDO .hvac_config {
    margin-top: 22px;
}

#LSPUB .hvac_config>div, #MSVDO .hvac_config>div {
    width: 122px;
     margin-left: 10px;
}

#LSPUB .hvac_config>div .para_box, #MSVDO .hvac_config>div .para_box {
    width: 122px;
    height: 94px;
}

#MSEM table, #INFP table {
    height: 70px;
}

#EP table {
    height: 70px;
}

#EP .last_table {
    height: 50px;
    margin-top: 0px;
}

#MSEM .last_table, #INFP .last_table {
    margin-top: 0px;
}

#FAS .title {
    background-color: #EDB475;
}

#HVAC .title,
#ETD .title,
#WSD .title,
#LSPUB .title,
#LSN .title,
#MSEM .title {
    background-color: #2B7CCE;
}

#MSVDO .title,
#SASSA .title,
#SASAC .title,
#EP .title {
    background-color: #40A6AE;
}

#PFE .title,
#INFP .title,
#BGMB .title,
#PARKM .title {
    background-color: #B283C5;
}

#HVAC .btl,
#ETD .btl,
#WSD .btl,
#LSPUB .btl,
#LSN .btl,
#MSEM .btl {
    border-left: 6px solid #2B7CCE !important;
}

#MSVDO .btl,
#SASSA .btl,
#SASAC .btl,
#EP .btl {
    border-left: 6px solid #40A6AE !important;
}

#PFE .btl,
#INFP .btl,
#BGMB .btl,
#PARKM .btl {
    border-left: 6px solid #B283C5 !important;
}


.pee_chart {
    width: 266px;
    height: 150px;
    float: left;
}

.pee_info {
    width: 123px;
    height: 126px;
    float: right;
}

.pee_info .chart_bottom .chart_bottom_title {
    color: #666;
    font-size: 14px;
    text-indent: 30px;
}

.pee_info .chart_bottom .chart_bottom_data > .data_value {
    color: #B285C6;
    font-size: 38px;
    font-weight: bold;
    font-family: "Roboto Th";
    line-height: 30px;
    padding-top: 15px;
}

.cur {
    background-color: #3DA7AD !important;
}

.cur a {
    font-size: 24px !important;
}

.cur:before {
    border: 10px solid #000;
}

.alert_h {
    width: 69px;
    height: 38px;
    background: url('../images/alert_h.png');
    position: absolute;
    line-height: 38px;
    top: 12px;
}

.alert_m {
    width: 69px;
    height: 38px;
    background: url('../images/alert_m.png');
    position: absolute;
    line-height: 38px;
    top: 12px;
}

.alert_l {
    width: 69px;
    height: 38px;
    background: url('../images/alert_l.png');
    position: absolute;
    line-height: 38px;
    top: 12px;
}

#HVAC .custom_select {
    margin-left: 70px;
}

#HVAC .alert_h, #HVAC .alert_m, #HVAC .alert_l {
    left: 170px;
    display: none;
}

#FAS .alert_h, #SASSA .alert_h, #MSVDO .alert_h, #WSD .alert_h ,#ETD .alert_h {
    left: 180px;
    display: none;
}

#FAS .alert_m, #SASSA .alert_m, #MSVDO .alert_m, #WSD .alert_m ,#ETD .alert_m {
    left: 258px;
    display: none;
}

#FAS .alert_l, #SASSA .alert_l, #MSVDO .alert_l ,#WSD .alert_l ,#ETD .alert_l {
    left: 335px;
    display: none;
}

.operator {
    font-size: 20px;
    color: #fff;
    padding-left: 32px;
    line-height: 40px;
}

.bjgs {
    color: #fff;
    font-size: 16px;
}

.dx-icon {
    height: 158px !important;
}

.dx-icon > div {
    margin-top: 25px !important;
}

#ETD table tr td:nth-child(odd){
    background-color:#D9D9D9 ;
    width: 60px;
    text-align: center;
}

#ETD .btl {
    border-top: 1px solid #fff !important;
}

#SASSA .num_col, #EP .num_col, #SASAC .num_col {
    color: #40C1B5;
}

#INFP .num_col,#BGMB .num_col, #PARKM .num_col {
    color:#B385C7;
}

=======
/*end*/

.pmt_block {

}

.pmt {
    width: 1434px;
    height: 650px;
    background: url('../images/ggzm_F1.jpg');
    position: relative;
}

.pmt .point {
    position: absolute;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background: #a3a3a3;
    color: #fff;
    border-radius: 14px;
    font-size: 14px;
    cursor: pointer;
    z-index: 10;
}

.pmt .pmt_operate {
    position: absolute;
    right: 5px;
    bottom: 10px;
}

.pmt .pmt_operate > div {
    width: 140px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #86D3D5;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 15px;
}

.pmt .legend {
    width: 237px;
    height: auto;
    overflow: hidden;
    background-color: #fff;
    position: absolute;
    top: 30px;
    left: 10px;
    z-index: 20;
    display: none;
}

.pmt .legend .legend_title {
    line-height: 36px;
    color: #fff;
    background-color: #369fa7;
    font-size: 20px;
    text-indent: 10px;
}

.pmt .legend ul {
    margin: 15px 0px 0px 10px;
    padding-bottom: 13px;
}

.pmt .legend ul li {
    height: 32px;
    width: 100%;
    margin-top: 2px;
}

.pmt .legend ul li > * {
    float: left;
}

.pmt .legend .flag {
    width: 4px;
    height: 100%;
    background-color: #00b0f0;
}

.pmt .legend .legend_number {
    line-height: 32px;
    width: 30px;
    color: #999;
    background-color: #f2f2f2;
    margin-left: 3px;
    text-indent: 4px;
}

.pmt .legend .legend_describe {
    width: 162px;
    background-color: #f2f2f2;
    line-height: 16px;
    color: #999;
    margin-left: 3px;
}

.pmt .block_pos {
    position: absolute;
    width: 55px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #4be1d1;
    border:1px solid #7f7f7f;
    color: #000;
    font-size: 16px;
}

.pmt .block_1_pos {
    left: 363px;
    top: 418px;
}

.pmt .block_2_pos {
    left: 415px;
    top: 330px;
}

.pmt .block_3_pos {
    left: 555px;
    top: 299px;
}

.pmt .block_4_pos {
    left: 859px;
    top: 261px;
}

.pmt .block_5_pos {
    left: 1007px;
    top: 262px;
}

.pmt .block_6_pos {
    left: 1164px;
    top: 432px;
}

.operate_board .mode_operate {
    /*display: none;*/
}

.mode_operate > div {
    float: left;
    width: 285px;
}

.mode_operate h1 {
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}

.mode_btn {
    width: 140px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #86D3D5;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 5px;
}

.nomargin {
    margin: 0px;
}

.marginleft {
    margin-left: 20px;
}

.btn_press {
    background-color: #37a1a9 !important;
}

.left_board {
    width: 890px;
    height: auto;
    overflow: hidden;
    float: left;
    margin-left: 10px;
}

.right_board {
    width: 545px;
    height: auto;
    overflow: hidden;
    float: right;
}

.loop_detail {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-bottom: 1px solid #999;
}

.loop_detail .describe_block {
    float: left;
}

.loop_detail .operate_block {
    margin-top: 7px;
    float: right;
}

.loop_detail > div > * {
    float: left;
}

.loop_detail .describe_block span {
    font-size: 32px;
    color: #999;
    line-height: 46px;
}

.loop_detail .describe_block p {
    padding-top: 20px;
    margin-left: 10px;
}

.loop_detail .operate_block .if_operate {
    width: 22px;
    height: 22px;
    background-color: #fff;
    outline: 3px solid #999;
    margin: 5px 10px 0px 0px;
}

.loop_detail .operate_block .switch_btn {
    width: 103px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background-color: #22c3c2;
    font-size: 18px;
    border-radius: 4px;
    margin-left: 10px;
}

.loop_detail .operate_block .cando {
    background-color: #89d3d5;
}

label {cursor: inherit;}

.each_para_display {
    margin-top: 10px;
}

.each_para_display > div {
    float: left;
}

.each_para_display > div > * {
    float: left;
    color: #999;
}

.each_para_display .loop_name {
    font-size: 30px !important;
}

.each_para_display .loop_name label {
    font-size: 30px;
}

.each_para_display .run_time {
    margin-left: 200px;
    font-size: 22px;
}

.each_para_display .run_time label {
    font-size: 22px;
}

.each_para_display .run_state {
    font-size: 24px;
    margin-left: 100px;
}

.each_para_display .run_state label {
    font-size: 24px;
}

.each_loop_state {
    margin-top: 10px;
}

.each_loop_state > div {
    margin-right: 100px;
    float: left;
}

.each_loop_state div > * {
    float: left;
}

.each_loop_state > div > label {
    font-size: 18px;
    line-height: 30px;
    margin-right: 10px;
}

.right_board .loop_pic {
    width: 536px;
    height: 268px;
    margin-top: 5px;
}

.block_zone {
    margin: 18px 0px 0px 17px;
    background-color: #ececec;
    width: auto;
    height: auto;
    overflow: hidden;
    padding-bottom: 20px;
    border-bottom: 4px solid #6DC9CA;
    display: none;
}

.each_block {
    width: 457px;
    height: 840px;
    border: 1px solid #ccc;
    border-bottom: 4px solid #f3b657;
    background-color: #fff;
    float: left;
    margin-top: 20px;
    margin-left: 5px;
}

.each_block .block_title {
    width: 100%;
    height: 65px;
    line-height: 65px;
    border-bottom: 1px solid #d1d1d1;
}

.each_block .block_title h1 {
    font-size: 26px;
    color: #666;
    float: left;
    margin-left: 30px;
    line-height: inherit;
}

.each_block .block_title > div {
    width: 170px;
    height: 31px;
    line-height: 31px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    background-color: #58cfc9;
    float: right;
    text-align: right;
    margin-top: 16px;
}

.operate_board .loop_info {
    display: none;
}

.each_block .block_title > div > p {
    color: #fff;
    padding-right: 10px;
    font-size: 14px;
}

.each_block .block_detail {
    padding: 0px 35px;
}

.each_block .block_detail > h1 {
    font-size: 26px;
    color: #4baba7;
    line-height: 58px;
}

.each_block .block_detail > div > div {
    margin-bottom: 5px;
}

.each_block .block_detail .light_kind {
    font-size: 16px;
    color: #a8a8a8;
}

.each_block .block_detail .light_state {
    font-size: 18px;
    color: #000;
    margin: 0px 20px 0px 50px;
}

.marginleft2 {
    margin-left: 20px;
}

.cancontrol {
    width: 22px;
    height: 22px;
    background-color: #fff;
    outline: 3px solid #999;
    /*margin: 5px 10px 0px 0px;*/
    margin-left: 32px;
    display: inline-block;
    vertical-align: middle;
}

.each_block .allowop {
    background-color: #89d3d5 !important;
}

.pmt .pmt_operate > .returnIndex {
    background-color: #b9b9b9 ;
}

/*夜景照明*/
.yjbj {
    width: 1448px;
    height: 757px;
    background: url('../images/yjbj.png') no-repeat;
}

.yjzm_control {
    font-size: 0;
    margin-left: 15px;
}

.yjzm_control > div {
    width: 33%;
    display: inline-block;
}

.yjzm_control h1 {
    font-size: 18px;
    border-bottom: 1px solid #000;
    padding-left: 40px;
}

.yjzm_control .mode_btn {
    width: 197px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    text-indent: .5em;
    margin-left: 35px;
    float: left;
}

