/*客流监控统计css*/
.left{ float:left;}
.right{ float:right;}
.icon_control{ background:url(../images/custom_icon.png) no-repeat 3px 0;}
.icon_analyse{ background:url(../images/custom_icon.png) no-repeat -35px top;}
.icon_back{ background:url(../images/back.png) no-repeat 11px center;}
.menu_layou_noline{ border:0;}
.menu_mar{ margin:2px 0 10px;}
.group_wrap{ background-color:#ececec; padding:10px; margin-left:20px; overflow:hidden;}
.group_right{ float:left; margin-left:15px;}
.icon_count{ width:24px; height:16px; float:right; background:url(../images/count_icon.png) no-repeat left top; margin:13px 15px 0 0; display:inline;}
.colf90{ color:#f90;}
.col69f{ color:#69f;}
.col26c{ color:#26c3bb;}
#card0{}
#card0 li{ width: 100px; height: 30px; border-radius: 4px; line-height: 30px; color: #fff; font-size: 16px; text-align: center; cursor: pointer; float: left; margin-left: 5px;background-color: #c1c1c1; display:inline-block;}
#card0 li.cur_view{ background-color: #39a6ad !important;}
.count_group_title{ height:80px; line-height:80px; background-color:#26c3bc;}
.title_logo_txt{ font-size:24px; width:107px; height:80px; display:inline-block; text-align:center; color:#fff; background-color:#39a6ad;}
.count_group_ullist01{ float:right;}
.count_group_ullist01 li{ float:left;}
.count_group_ullist01 li a{ color:#fff; font-size:18px; height:80px; line-height:80px; padding:0 20px; border-right:#93e1de solid 1px;}
.count_group_ullist01 li a.last{ border:0;}
.count_group_img{ height:467px; background-color:#ccc;}
.count_group_box02{ margin-top:15px; overflow:hidden; }
.count_group_module{ float:left; width:190px;}
.count_group_moduleL{ width:190px; height:195px; text-align:center; background-color:#999; color:#fff;}
.count_group_moduleL h3{ font-size:100px; height:100px; line-height:100px; padding:25px 0;}
.count_group_moduleL p{ font-size:20px;}
.module_detail{ float:left; width:215px; margin-left:25px; border-right:#ccc solid 1px; padding-right:14px;}
.module_detail h3{ color:#666; font-size:16px; line-height:45px;}
.module_detail h2{ text-align:right; line-height:45px;}
.special_color{ color:#39a5ac;}
.font40{ font-size:40px;}
.font12{ font-size:12px;}
.font16{ font-size:16px;}
.unit{ font-size:16px; color:#666;}
.count_change{ text-align:right;}
.count_change img{ display:inline-block;}
.count_group_box03{ margin-top:20px;}
.count_table{ width:100%; text-align:center; font-size:14px;}
.count_table tr{ height:32px; line-height:32px; border-bottom:#fff 5px solid;}
.count_table tr:nth-child(1n){ background-color:#f5f5f5;}
.count_table tr:nth-child(2n){ background-color:#e1f4f4;}
.p20{ padding:0 20px;}
/* 暖通空调 */
.operate_parameter{ width:1434px; height:300px; background-color:#fff;}
.pmt_air{ width:1434px; height:650px; background:url(../images/BUAHU_close.jpg) no-repeat left top; position:relative;}
.hide_btn{ width:25px; height:94px;background:url(../images/show_btn.png) no-repeat left top; position:absolute; right:10px; top:176px; font-size:16px; text-align:center; padding-top:5px;}
.equip_list a.show_btn:hover{ color:#fff; background:url(../images/show_btn_on.png) no-repeat left top;}
.equip_list_con table{ border:0;}
.equip_list_con{ }
.equip_list_con td{}
.equip_list_con td a{ height:32px; line-height:32px; display:block; font-size:16px; color:#666; text-align:center}
.equip_list_con td a:hover{ color:#fff; background-color:#39a6ad;}

.post_div {
	background-color: #FFFFFF;
	height: 30px;
	float: left;
	cursor: pointer;
	position: absolute;
	border: 1px solid #D4D4D4;
	border-left: 0px solid #34C4BC !important;
	border-top: 0px solid #34C4BC !important;
}
.icon_style {
	width: 35px;
	height: 30px;
	float: left;
	background: url("../../images/sys_icon1.png") -447px -98px no-repeat;
}

.favu_icon_style {
	width: 35px;
	height: 30px;
	float: left;
	background: url("../../images/sys_icon1.png") -749px -98px no-repeat;
}

.text_class {
	padding: 5px 8px 0 44px;
	font-size: 16px;
}