/*全局CSS*/
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, hr { margin:0; padding:0; }
fieldset, img { border:none; }
img{display: block;}
h1,h2,h3{line-height:40px; font-weight: normal !important;}
address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }
ul { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
input::-moz-focus-inner { border:none; padding:0; }
select, input { vertical-align:middle; }
select, input, textarea { font-size:12px; margin:0; }
input[type="text"], input[type="password"], textarea { outline-style:none; -webkit-appearance:none; }
textarea { resize:none; }
table { border-collapse:collapse; }
body {width: 1920px !important;height: 1080px!important;/*overflow: hidden;*/ background-color: #f2f2f2 !important; color:#000; font:12px/20px "Microsoft YaHei","SimSun","宋体","Arial Narrow",HELVETICA; background:#fff; /*text-shadow: 1px 1px 1px #666;*/}
.clearfix:after { content:".";  height:0; visibility:hidden; clear:both; }
.clearfix { zoom:1; }
.clearit { clear:both; height:0; font-size:0; overflow:hidden; }
a { color:#000; text-decoration:none; }
a:hover, a:active, a:focus { color:#000; text-decoration:none; }
input{width: 120px;}
input[type="radio"] {
	margin: 0px !important;
}

.nav {
	height: 83px;
	background-color: #333538;
	line-height: 83px;
	margin: 0;
}


.navigation li {
	float: left;
	font-size: 20px;
	line-height: 84px;
	position: relative;
}

.navigation a{
	color: #D7D7D7;
}

.navigation >li > a:hover, a:active, a:focus {
	color: #fff;
	background: transparent;
}

.triangle {
	position: absolute;
	top: 42%;
	right: 39%;
	cursor: default;
	color: #fff;
}

.simple_nav {
	float: left;
	width: 81% !important;
}

.logo {
	margin: 16px;
}

.nav_bar {
	margin-left: 44px;
}

.login_plugin {
	float: right !important;
	color: #fff;
}

.date_count {
	font-family: "Roboto Th";
	width: 18.5% !important;
	color: #ccc;
	background-color: #484a4c;
	text-shadow: 1px 1px 1px #000;
	float: right !important;
	height: 100%;
	margin-left: 0px !important;
}

.weather {
    width: 151px;
    height: 100%;
    font-size: 18px;
    float: left;
}

.weather .weatherImg {
    width: 57px;
    padding: 0;
    margin: 15px 0 0 2px;
    float: left;
}

.weather_detail {
    float: left;
    width: 75px;
}


.temp_describe {
	font-size: 18px;
	height: 40px;
	line-height: 68px;
}

.temp_value {
	font-size: 15px;
	height: 40px;
	line-height: 32px;
}

.clock {
	width: 205px;
	height: 100%;
	float: left;
}

.timer {
	font-size: 50px;
	width: 118px;
	float: left;
	text-align: center;
}

.date_list {
	width: 75px;
	height: 100%;
	float: left;
	margin-left: 5px;
}

.date_list>div {
	text-align: left;
}

.week {
	font-size: 18px;
	height: 40px;
	line-height: 60px;
	vertical-align: middle;
}

.y_m_d {
	font-size: 15px;
	height: 40px;
	line-height: 25px;
}

.mode {
	position: relative;
	width: 98%;
	margin: 20px auto 0;
}

.mode_select {
	height: 40px;
}

.mode_select li{
	float: left;
	margin-left: 60px;
	font-size: 18px;
	color: #000;
}

#current_mode {
	font-size: 24px;
}

.division_line {
	width: 100%;
	height: 1px;
	background-color: #666;
}
/*
.current_underline {
	width: 220px;
	background-color: #78cdd0;
	height: 3px;
}*/

.nomargin {
	margin-left: 0 !important;
}


.Btn-big {
	width: 168px;
	height: 42px;
	border-radius: 4px;
	background-color: #86d3d5;
	float: left;
	line-height: 42px;
	text-align: center;
	margin-left: 30px;
	cursor: pointer;
}

.Btn-big:hover {
	background-color: #39a6ae;
}

.Btn-big p {
	margin-left: 14px;
}

.Btn-big a {
	font-size: 20px;
	color: #fff;
	display: block;
	width: 100%;
}

.btn2 {
	margin-left: 30px;
}

.btn-small {
	border-radius: 4px;
	text-align: center;
	background-color: #86d3d5;
	color: #fff;
	font-size: 14px;
	padding: 4px 12px;
	cursor: pointer;
}

.btn-small:hover, .btn_small:active, .btn_small:focus{
	background-color: #39a6ad;
}

.paging {
	margin-top: 20px;
	height: 30px;
	line-height: 30px;
	margin-left: 657px;
}

.paging *{
	float: left;
	margin-left: 34px;
}

.paging img {
	margin-top: 10px;
	cursor: pointer;
}

.paging span {
	margin-left: 5px;
}

.paging input {
	width: 69px;
	margin: 0px !important;
}

.page_des1 {
	margin-left: 30px !important;
}

.btnStyle1 {
	width: 140px;
	height: 30px;
	line-height: 30px;
	background-color: #86d3d5;
	border-radius: 5px;
	font-size: 16px;
	text-align: center;
	float: left;
	margin-left: 20px;
}

.btnStyle1:hover {
	background-color: #39a6ae;
}

.btnStyle1 a {
	width: 100%;
	height: 100%;
	display: inline-block;
}

.Btn-big * {
	float: left;
}

.btnStyle a, .btnStyle1 a{
	color: #fff;
}

.icon_btn {
	width: 30px;
	height: 30px;
	display: inline-block;
	float: left;
	padding:5px 0 0 16px;
}

.icon_date {
	background: url("../images/all_icon.png") -75px -31px no-repeat;
}

.icon_tel {
	background: url("../images/all_icon.png") -75px -83px no-repeat;
}

.icon_setting {
	background: url("../images/all_icon.png") -150px -36px no-repeat;
}

.icon_file {
	background: url("../images/all_icon.png") -594px -326px no-repeat;
}

.icon_pin {
	background: url("../images/all_icon.png") -643px -326px no-repeat;
}

.icon_key {
	background: url("../images/all_icon.png") -746px -323px no-repeat;
}

.icon_bag {
	background: url("../images/all_icon.png") -693px -323px no-repeat;
}

.icon_book {
	background: url("../images/all_icon.png") -805px -326px no-repeat;
}

.icon_user {
	background: url("../images/all_icon.png") -546px -87px no-repeat;
}

.icon_diamond {
	background: url("../images/all_icon.png") -854px -329px no-repeat;
}

.icon_link {
	background: url("../images/all_icon.png") -911px -329px no-repeat;
}

.cur {
	background-color: #39a6ae;
}

.all {
	background-color: #69c8ca;
}

.sub_ul > ul > li {
	height: 58px;
	line-height: 58px;
	background-color: #69c8ca;
	font-size: 22px;
	color: #fff;
	border-bottom: 1px solid #fff;
	cursor: pointer;
}

.sub_ul > ul > li a {
	display: block;
	padding-left: 20px;
	text-align: left !important;
}

.sub_ul > ul > li > p {
	width: 100%;
	float: left;
}

.sub_ul {
	display: none;
}

.showLi {
	display: list-item;
}

.root_li {
	padding-left: 25px;
	background-color: #9fdadd
}

.root_li p{
	width: 100px;
	float: left;
}

.root_li img {
	float: left;
	padding-top: 30px;
}

.main {
	height: 100%;
	margin-left: 0px !important;
}

.nav_list {
	width: 12.5% !important;
	height: 100%;
	background-color: #69c8ca;
}

.nav_list ul .root_li {
	height: 70px;
	line-height: 70px;
	color: #fff;
	font-size: 22px;
	border-bottom: 1px solid #fff;
}

.nav_list ul li a {
	color: #fff;
	text-align: right;
}

.nav_list i {
	height: 35px;
	width: 35px;
	display: inline-block;
	float: left;
	margin: 10px 20px 0 10px;
}

.icon1 {
	background:url("../images/nav_ico.png") 0px -85px no-repeat;
}

.icon2 {
	background:url("../images/nav_ico.png") 4px -36px no-repeat;
}

.icon3 {
	background:url("../images/nav_ico.png") 2px 12px no-repeat;
}

.disnone {
	display: none;
}

.table_style1 {
	width: 100%;
}

.table_style1 th {
	height: 36px;
	background-color: #999;
	color: #fff;
	font-size: 16px;
	border: 1px solid #fff;
}

.table_style1 td {
	height: 50px;
	color: #666;
	font-size: 16px;
	border: 1px solid #fff;
}

.table_style1 tr:nth-child(even) {
	background-color: #eaeaea;
}

.icon_fan {
	background:url("../images/navicon.png") 8px 8px no-repeat;
}

.icon_water {
	background:url("../images/navicon.png") 8px -25px no-repeat;
}

.icon_flash {
	background:url("../images/navicon.png") 8px -57px no-repeat;
}

.icon_fire {
	background:url("../images/navicon.png") 8px -122px no-repeat;
}

.icon_shield {
	background:url("../images/navicon.png") 8px -185px no-repeat;
}

.icon_video {
	background:url("../images/navicon.png") 8px -217px no-repeat;
}

.icon_lock {
	background:url("../images/navicon.png") 8px -249px no-repeat;
}

.icon_screen {
	background:url("../images/navicon.png") 8px -279px no-repeat;
}

.icon_lamp {
	background:url("../images/navicon.png") 8px -346px no-repeat;
}

.icon_moon {
	background:url("../images/navicon.png") 8px -377px no-repeat;
}

.icon_lift {
	background:url("../images/navicon.png") 8px -411px no-repeat;
}

.icon_people {
	background:url("../images/navicon.png") 8px -443px no-repeat;
}

.icon_car {
	background:url("../images/navicon.png") 8px -472px no-repeat;
}

.icon_paper {
	background:url("../images/navicon.png") 8px -505px no-repeat;
}

.icon_music {
	background:url("../images/navicon.png") 8px -537px no-repeat;
}

.icon_stone {
	background:url("../images/navicon.png") 8px -571px no-repeat;
}

.icon_recycle {
	background:url("../images/navicon.png") 8px -632px no-repeat;
}

.icon_wrench {
	background:url("../images/sysIcon.png") -827px -530px no-repeat;
}

.icon_jam {
	background:url("../images/sysIcon.png") -512px -239px no-repeat;
}

.icon_plus {
	background:url("../images/sysIcon.png") -643px -183px no-repeat;
}

.icon_file_right {
	background:url("../images/sysIcon.png") -643px -239px no-repeat;
}

.icon_file_pop {
	background:url("../images/sysIcon.png") -75px -529px no-repeat;
}

.icon_file_question {
	background:url("../images/sysIcon.png") -75px -529px no-repeat;
}

.icon_file_list {
	background:url("../images/sysIcon.png") -75px -529px no-repeat;
}

.icon_list {
	background:url("../images/sysIcon.png") -215px -186px no-repeat;
}

.icon_thrc {
	background:url("../images/sysIcon.png") -147px -245px no-repeat;
}

.icon_chart {
	background:url("../images/sysIcon.png") -276px -188px no-repeat;
}

.modal_btn {
	float: right;
	margin: 20px 0px;
}

.modal_btn div {
	width: 105px;
	height: 35px;
	line-height: 35px;
	border-radius: 5px;
	background-color: #66ccff;
	float: left;
	margin-right: 20px;
	color: #fff;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
}

.fill {
	height: 100%;
	background-color: #69c8ca;
}

.mode_cataloge {
	display:inline-block;
	width:210px;
	height:100%;
	padding:20px 0px 0px 5px;
	background-color:#FAFAFA;
	box-shadow: 3px 0px 5px #ccc;
	float: left;
}
ul.cataloge_class_one  {margin:5px 0px 5px 10px;color:#000000;font-size:16px}
ul.cataloge_class_one .cataloge_name {margin: 0 10px 0 -4px; padding: 10px; border-bottom:1px solid #ccc; font-size: 23px;}
ul.cataloge_class_one >li {margin-bottom:10px;}

ul.cataloge_class_two {margin:5px 0px 5px 8px;color:#999;font-size:20px}
ul.cataloge_class_two >li {height:42px;line-height:42px;padding-left:30px;margin-bottom:15px;cursor: pointer;}

ul.cataloge_class_two > li.current {background-color:#78CDD0;color:#ffffff;border-top-left-radius:24px;border-bottom-left-radius:24px;}

.funcBtn {
	width: 27px !important;
	background-color: #F2F2F2 !important;
	height: 150px;
	color: #FFF;
	position: absolute;
	left: 1850px;
}
.reiken {
	background-color: #FFF !important;
	background-image: none !important;
}

.disable {
	background-color: #999 !important;
}

.cataloge_class_two a {
	color: #999;
}

.cataloge_class_two > .current a {
	color: #fff;
}

.changeBg {
	background-color: #39a6ae !important;
}



