/*新版客流监控页面*/
@font-face {
    font-family: 'helveticaneueltpro-ultlt';
    src: url('../fonts/helveticaneueltpro-ultlt.eot');
    src: url('../fonts/helveticaneueltpro-ultlt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helveticaneueltpro-ultlt.woff') format('woff'),
    url('../fonts/helveticaneueltpro-ultlt.ttf') format('truetype'),
    url('../fonts/helveticaneueltpro-ultlt.svg#Roboto Th') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Th';
    src: url('../fonts/Roboto-Thin-webfont.eot');
    src: url('../fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Thin-webfont.woff') format('woff'),
    url('../fonts/Roboto-Thin-webfont.ttf') format('truetype'),
    url('../fonts/Roboto-Thin-webfont.svg#Roboto Th') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.custom_content{}
.custom_title{ height:50px; /*color:#767675;*/}
.custom_title>*{ float:left;}
.custom_title h1{ font-size:50px; color:#000; height:50px; line-height:50px;}
.end_time,.hot_store_block,.hot_region_block{ width:50px; height:44px; background-color:#999; border-radius:8px; color:#fff; padding:3px 0 3px 5px; margin:2px 0 0 38px; font-size:14px; cursor:default;}
.end_time_f{ margin:7px 10px;}
.end_time_f > p,.hot_store_block > p {line-height: 20px;}

.hot_store_block{ min-width:60px; width: auto; background-color:#f90; margin:7px 10px 0 0;}
.hot_region_block{ width:95px; background-color:#f17064; margin:7px 10px 0 0;}
.hot_shop{margin-right: 5px;}
.compassBar { float: right; margin: 20px 5px 0px 0px; width: 282px; height: 64px; border-radius: 8px; background: none repeat scroll 0% 0% rgba(189, 195, 199, 0.5) !important; overflow: hidden;}
.second{ font-size:18px;}
.search_bar{ float: left; width: 190px; height: 34px; line-height: 34px; background-color: #E5E9EB; border-radius: 4px; margin: 15px 0px 15px 15px;}
.search_btn{ width:30px; height:33px; background:url(../images/search_btn.png) no-repeat 10px center; float:left; margin-right:5px;}
.search_input{ width:142px; height:24px!important; border:0!important; background-color:transparent!important; box-shadow:none!important;}
.compass_icon { float: right; width: 48px; height: 48px; background: url('../images/compass_icon.png') no-repeat scroll right center transparent; margin: 8px 8px 8px 0px; padding-left: 15px; border-left: 1px solid #666;}
.alarm_level_key{ position:absolute; right:20px; bottom:354px;}
.a_l_k{ width:80px; height:260px; background:url(../images/line_bg.png) no-repeat 60px top;}
.a_l_b{ position:absolute; right:-2px; top:0; width:80px;}
.a_l_k span{ float:left; width:40px; height:30px; line-height:30px; text-align:right;}
.a_l_m{ position:absolute; right:3px; top:95px;}
.a_l_s{ position:absolute; right:3px; top:185px;}
.a_l_ss{ position:absolute; right:3px; top:230px;}

.custom_box{ margin-top:15px; overflow:hidden; width: 1442px; height: 619px}
.custom_floor_box{ width:220px; height:616px; float:left; margin-right:20px; background-color:#fff;}
.border_1{ border-top:#f17064 solid 4px;}
.border_2{ border-top:#ff9500 solid 4px;}
.border_3{ border-top:#60537f solid 4px;}
.fcolor_1{ color:#f17064;}
.fcolor_2{ color:#ff9500;}
.fcolor_3{ color:#60537f;}
.floor_num{ font-size:40px; color:#000; height:45px; line-height:45px; border-bottom:#ccc solid 1px; text-align:right; padding:15px 0 10px 0; margin:0 8px;}
.person_count{ padding:10px 8px 35px; line-height:60px; border-bottom:#edeceb solid 4px;}
.per_d{ color:#999; font-size:16px; display:inline-block;}
.per_num{ width:110px; height:60px; line-height:60px; text-align:center; border-radius:8px; background-color:#dee1e3; display:inline-block; font-size:33px; float:right;}
.hot_region{ padding:15px 8px 30px; border-bottom:#edeceb solid 4px;}
.hot_num{ font-size:33px; float:right;}
.hot_d{ color:#979797; font-size:14px; padding-bottom:10px;}
.hot_i span{ display:inline-block;}
.hot_name{ font-size:18px; color:#666;}
.hot_rank{ font-size:14px; color:#8b919f; padding-top:5px;}
.hot_store{ padding:15px 8px; border-bottom:#ccc solid 1px;}
.last{ border:0;}

.custom_count{color:#7f8b8d; font-size:15px; margin-left:20px; background:url(../images/custom_ico.png) no-repeat left center; margin-top:30px; height:20px; line-height:20px; padding-left:55px;}
.line_green{ color:#39b5ab; margin:0 10px 0 0;}
.custom_count strong{ color:#333; font-weight:normal; font-size:18px; padding:0 20px;}
.custom_count_box{ height:180px; margin-top:10px; width: 1444px}
.custom_count_box li{ width:200px; height:180px; float:left; margin-right:20px;}
.custom_count_box li.white{ background-color:#fff;}
.custom_count_box li.grey{ background-color:#7f8b8d;}
.custom_count_box li.red{ background-color:#ff4343;}
.custom_count_box li.blue{ background-color:#00abe9; padding:10px 0 0; height:170px;}
.custom_count_box li.chart{ width:760px; height:180px; border-radius:8px;}
.custom_count_box li.blue div{ float:left;}
.form_bar{ height:24px; line-height:24px; margin:10px 0 0 15px;}
.form_bar > *{ float:left;}
.form_bar span{ color:#fff; font-size:14px; margin-right:15px;}
.form_bar input[type="text"]{ width:90px; height:24px; line-height:24px; padding:0 0 0 10px; border:0; background-color:#e5e9eb; color:#8b919f;}
.alarm_level_highox{ margin:15px 0 0 15px;}
.alarm_level{ float:left; width:40px; height:50px; margin-right:20px; overflow:hidden;}
.level_high,.level_middle,.level_low,.level_fault{ float:left; width:30px; height:30px; display:inline-block; background:url(../images/circle_red.png) no-repeat; margin-left:5px;cursor: pointer;}
.level_middle{ background:url(../images/circle_yellow.png) no-repeat}
.level_low{ background:url(../images/circle_purple.png) no-repeat}
.level_fault{ background:url(../images/circle_grey.png) no-repeat}
.alarm_level span{ width:40px; display:inline-block; text-align:center;}
.alarm_btn_bar{width:100%; height:35px; background-color:#009ad1; margin-top:2px;}
.alarm_btn_bar .alarm_btn{ float:right !important; height:20px; line-height:20px; padding:0 20px; margin:7px 10px 0 0; background-color:#68c8ca; border-radius:4px; color:#fff; text-align:center; cursor:pointer;}

.chart_pic{ height:130px; background-color:#999; border-top-left-radius:8px; border-top-right-radius:8px; position:relative;}
.chart_time{ position:absolute; color:#fff; font-size:20px;}
.chart_state{ height:50px; line-height:50px; border-bottom-left-radius:8px; border-bottom-right-radius:8px; background-color:#5eb4b6;}
.chart_tit{ font-size:24px; color:#fff; padding-left:10px;}
.custom_list{ float:right; height:50px; line-height:50px; color:#fff;}
.custom_list a{ display:inline-block; font-size:18px; color:#fff; margin:0 10px; opacity:0.6;}
.custom_list a:nth-child(3){ opacity:1;}

.custom_in{ font-size:40px; height:60px; line-height:60px; }
.in_ico,.out_ico,.inner_ico{ background:url(../images/in_ico.gif) no-repeat; width:20px; height:20px; margin:30px 6px 0 85px; float:left;}
.out_ico{ background:url(../images/out_ico.png) no-repeat;}
.inner_ico{ background:url(../images/inner_ico.png) no-repeat;}
.edit_ico{ background:url(../images/edit_ico.png) no-repeat; width:20px; height:20px; float:right; margin:10px 10px 0 0;}
.custom_num{ font-size:34px; line-height:50px; padding-left:15px;}
.custom_match{ height:30px; line-height:30px;}
.custom_match_txt{ float:left; margin-left:20px; font-size:18px; color:#999; line-height:30px;}
.custom_match_per{ float:right; margin-right:10px; font-size:24px; color:#666;}
.custom_match cite{ color:#ff4343;}
.custom_weather{ text-align:right; color:#666; height:25px; line-height:25px; margin:10px 10px 0 0;}
.fcolor_4{ color:#838383;}
.fcolor_5{ color:#bfc5c6;}
.fcolor_6{ color:#ffc2c2;}
.fcolor_7{ color:#666;}
.fcolor_8{ color:#fff;}
.custom_pmt_block{ width:1440px; height:710px;}
.custom_pmt{ width:1440px; height:710px; margin-left:20px; position:relative;}
.floor_key{ float:left; height:63px; background:#bdc3c7; padding:0 15px; /*opacity:0.5;*/ border-radius:6px;}
.floor_key > *{ float:left;}
.f_n{ height:46px; line-height:46px; color:#000; font-family:robotoregular; font-size:50px; border-right:#666 solid 1px; margin:8px 0 0; padding-right:5px;}

/*客流监控页面*/
#todayChart {width: 760px; height: 130px;}
.cus_div{ width:60px; height:26px; border-radius:12px; position:absolute; cursor:default;}
.p_low{ background-color:#60537f;}
.p_low_deep{ background-color:#4f4367 !important;}
.p_middle{ background-color:#ff9500;}
.p_middle_deep{ background-color:#ec8800 !important;}
.p_high{ background-color:#f17064;}
.p_high_deep{ background-color:#ec3f30 !important;}
.p_fault{ background-color:#8a8480;}
.p_fault_deep{ background-color:gray !important;}

.cus_icon{ width:6px; height:6px; border-radius:3px; float:left; margin:10px 8px;}
.cus_icon_s{ background-color:#bfbacc;}
.cus_icon_s_on{ background-color:#fff;}
.cus_icon_m{ background-color:#ffd599;}
.cus_icon_m_on{ background-color:#fff;}
.cus_icon_b{ background-color:#f9c6c1;}
.cus_icon_b_on{ background-color:#fff;}
.cus_icon_error{ background-color:#d0cecc;}

.cus_text{ font-size:14px; line-height:26px; text-align:right; }
.cus_text_s{ color:#bfbacc;}
.cus_text_s_on{ color:#fff;}
.cus_text_m{ color:#ffd599;}
.cus_text_m_on{ color:#fff;}
.cus_text_b{ color:#f9c6c1;}
.cus_text_b_on{ color:#fff;}
.cus_text_error{ color:#fff;}

.custom_info_box{ width:410px; height:240px; border:#ddd solid 1px; border-radius:4px; position:absolute; left:770px; top:455px; background-color:#fff; box-shadow:0 4px 5px 0px #ccc; z-index: 9999}
.triangle-up{ width:19px; height:10px; position:absolute; left:40px; top:-10px; background:url(../images/triangle_up.png) no-repeat;}
.close_btn{ width:20px; height:20px; position:absolute; right:15px; top:15px; background:url(../images/close_btn.png) no-repeat;}
.wd_l{ width:66px; float:left;}
.wd_r{ float:left; margin:20px 0 0 10px;}
.wd_icon{ width:40px; height:40px; background:url(../images/wd_icon.png) no-repeat; float:left; margin:20px 10px 0 25px;}
.wd_r .wd_title{ font-size:20px; color:#5f527f; height:26px; line-height:26px;}
.wd_r span{ float:left;}
.sp_video{ margin:7px 0 0 10px;}
.wd_r p{ font-size:14px; color:#8b919f; line-height:20px;}
.wd_chart{ width:320px; height:110px; }
.wd_chart_pic{ height:80px; background-color:#ccc; border-top-left-radius:4px; border-top-right-radius:4px; position:relative; margin-top:5px;}
.wd_chart_time{ position:absolute; left:7px; top:5px; color:#fff; font-size:12px;}
.wd_chart_state{ height:30px; line-height:30px; border-bottom-left-radius:4px; border-bottom-right-radius:4px; background-color:#a7a7a7;}
.wd_chart_tit{ font-size:12px; color:#fff; padding-left:10px;}
.wd_custom_list{ float:right; height:30px; line-height:30px!important; color:#dedede!important;}
.wd_custom_list a{ display:inline-block; font-size:12px; color:#fff!important; margin:0 10px; opacity:0.6;}
.wd_custom_list a:nth-child(3){ opacity:1;}
.wd_bottom{ float:left; width:100%; height:36px; line-height:36px; background-color:#f0f0f0; margin-top:4px; text-align:center;}
.wd_bottom ul{ width:265px; margin:0 auto;}
.wd_bottom li{ float:left; margin-right:20px; height:36px; line-height:36px;}
.wd_bottom li span{ color:#8b919f; padding-right:10px;}
.wd_bottom li cite{ font-size:14px; color:#666;}
.wd_bottom li cite.red{ color:#f17064;}

/** 自动补全样式 **/
#AutoComplete{background:#fff;border:1px solid #4190db;display:none;width:153px;}
#AutoComplete ul{list-style-type:none;margin:0;padding:0;}
#AutoComplete li{color:#333;cursor:pointer;font:12px/22px \5b8b\4f53;text-indent:5px;}
#AutoComplete .hover{background:#6eb6fe;color:#fff;}

/**  客流概览  左右移动 **/
.custom_controll {
	width: 100%;
	position: absolute;
	height: 619px;
}
.custom_controll .prev {
	background: url('../../icons/prev.png') no-repeat;
	margin-top: -16px;
	width: 38px;
	height: 57px;
	left: 0px;
}
.custom_controll .next {
	background: url('../../icons/next.png') no-repeat;
	margin-top: -16px;
	width: 38px;
	height: 57px;
	right: 40px;
}
