/*报警页面CSS*/

.alertMode {
    margin-top: 20px;
}

.alertBtn {
    width: 168px;
    height: 42px;
    border-radius: 4px;
    background-color: #bdbdbd;
    float: left;
    line-height: 42px;
    text-align: center;
}

.alertBtn p {
    margin-left: 34px;
}

.alertBtn a {
    font-size: 20px;
    color: #fff;
}

.btn2 {
    margin-left: 30px;
}

.title {
    height: 60px;
    line-height: 60px;
    margin-top: 13px;
    color: #656466;
}

.no_right_margin {
    margin-left: 0px !important;
}

.alert_title {
    height: 50px;
    width: 100%;
}

.sub_title {
    font-size: 36px;
}

.this_week {
    margin-left: 30px;
    font-size: 18px;
}

.alertSituation {
    height: 100%;
    width: 44% !important;
}

.division_line {
    width: 60%;
    height: 1px;
    background-color: #CCC;
    float: right;
    margin-top: 35px;
}

.little_ico {
    font-size: 12px;
}

.alertRecord {
    height: 100%;
    width: 44% !important;
    margin-left: 10% !important;
}

.chart_style {
    width: 100%;
    height: 264px;
    /**
    background-color: #666;
    */
    margin-top: 20px;
}

.btn_style2 * {
    float: left;
    margin-left: 12px;
}

.btn_style2 img {
    margin-top: 7px;
    vertical-align: middle;
}

.cur2 {
    background-color: #39A6AE;
    color: #fff;
}

.btn3 {
    margin-left: 15px;
}

.float_l {
    float: left;
}

.div_style2 {
    margin-top: 28px;
    margin-left: 6px;
}

.query_bar {
    margin-left: 0px !important;
    font-size: 16px;
    color: #336666;
    width: 100%;
    height: 33px;
    line-height: 33px;
    margin-top: 15px;
}

.query_bar input {
    border: 0;
    width: 194px;
    height: 31px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    margin-right: 35px;
}

.query_bar div {
    float: left;
}

.custom_select_plugin {
    width: 139px;
    height: 31px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.float_r {
    float: right;
    margin-right: 5px;
}

.reiken {
    background-color: #fff !important;
    background-image: none !important;
}

.caret {
    border-top: 4px solid #999999 !important;
}

.selectpicker {
    float: left;
}

.alert_detail {
    margin-left: 0px !important;
    font-size: 16px;
    color: #336666;
    width: 100%;
    height: 33px;
    line-height: 33px;
    margin-top: 20px;
}

.alert_list {
    width: 100%;
}

.alert_list > tbody > tr > th {
    background-color: #999;
    text-align: left;
    padding-left: 14px;
}

.alert_list > tbody > tr > th, .alert_list > tbody > tr > td {
    border: 1px solid #fff;
}

.alert_list > tbody > tr > td {
    padding-left: 14px;
}

.changeColor {
    background-color: #D6D6D6;
}

.paging {
    margin-top: 20px;
}

.paging * {
    float: left;

    margin-left: 34px;
}

.paging img {
    margin-top: 10px;
    cursor: pointer;
}

.paging span {
    margin-left: 5px;
}

.paging input {
    width: 69px;
    margin: 0px !important;
}

.page_des1 {
    margin-left: 30px !important;
}

.btn-group {
    margin-top: 5px;
}

.setting_icon {
    margin: 10px 10px 0 0;
    float: left;
}

.setting_icon + p {
    float: left;
}

.butt {
    width: 73px;
    height: 33px;
    background-color: #86d3d5;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.butt:hover, .butt:focus, .butt.active {
    background-color: #39a6ae;
}

.confirm {
    margin-left: 20px;
    margin-right: 400px;
}

.alert_kind2 {
    margin-left: 900px;
}

.butt1 {
    margin-left: 27px;
}

.popover_nav {
    width: 100%;
    height: 50px;
}

.popover_nav > ul > li {
    float: left;
}

.popover_nav > ul > li {
    width: 140px;
    height: 36px;
    line-height: 36px;
    border-radius: 4px;
    color: #39a6ad;
    font-size: 20px;
    margin-right: 10px;
}

.popover_nav .cur {
    color: #fff;
    background-color: #39a6ad;
}

.alert_table {
    width: 100%;
    height: auto;
    font-size: 16px;
}

.alert_table table {
    width: 100%;
    margin: 0 auto;
}

.alert_table table > tbody > tr > td {
    height: 50px;
    border: 1px solid #fff;
    padding-left: 15px;
}

.alert_table table > tbody > tr > td:nth-child(even) {
    color: #666666;
}

.alert_table > table > tbody > tr:nth-child(odd) {
    background-color: #D6D6D6;
}

.rank {
    color: #39A5AC;
}

.respond_time {
    color: #259FD8;
}

.state_now {
    color: #259FD8;
}

.this_device {
    color: #DF5E3D;
}

.device_pos {
    color: #DF5E3D;
}

.ui-widget {
    font-family: "Hiragino Sans GB W3", "Microsoft YaHei", "SimSun", "宋体", "Arial Narrow", HELVETICA !important;
}

.modal_btn {
    margin-top: 50px;
    margin-bottom: 17px;
}

.modal_btn div {
    padding: 3px 20px;
    background-color: #39A6AE;
}

.cancel {
    background-color: #25a0d9 !important;
}

.alert_ol ol {
    font-size: 16px;
    color: #666;
    margin-left: 27px;
}

.alert_ol {
    display: none;
}

.popover_nav i {
    height: 35px;
    width: 35px;
    display: inline-block;
    float: left;
}

.ui-dialog-titlebar {
    background-image: none !important;
    background-color: #39A6AE;
}

.ui-widget-header {
    color: #fff;
    font-size: 24px;
    font-weight: normal;
}

.ui-widget-content {
    border: none;
}

.ui-dialog {
    padding: 0;
}

.ui-corner-all {
    border-radius: 0;
}

.ui-widget-header {
    border: 0;
}