body {
	font-family: 'Microsoft YaHei',Verdana,"BitStream vera Sans";
	font-size:16px;
	/*color:#666666;*/
	line-height:21px;
	padding:0;
	background-color:#F5F6F7;
	vertical-align:middle;
	width:1920px;
	height:1080px;
	margin:0 auto;
	
}

div,dl,dt,dd,ul,li,p,input,h1,h2,h3,h4,img{ margin:0px 0px; padding:0px 0px; border:none none}
ul,li{ list-style:none}
 
a{ text-decoration:none; background-color:inherit}
a:hover{ text-decoration:underline}

.arrow_down{
	width:10px;
	height:10px;
	display:inline-block;
	background:url('eggplant/images/ui-icons_ffffff_256x240.png') -70px -20px; 
	background-repeat:none;
	}
	
.arrow_up{
	width:10px;
	height:10px;
	display:inline-block;
	background:url('eggplant/images/ui-icons_ffffff_256x240.png') -4px -20px; 
	background-repeat:none;
	}	



#mask{
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  display:none;
  z-index:1000;
  background: #AAAAAA 0.95;
}

.dialog {
	overflow:hidden;
	background-color:#FAFAFA;
	}

.dialog > .header {
  width:100%;
  height:30px;
  padding: 0px;
  background-color:#78CDD0;
  overflow:hidden;
 }

.dialog > .header >.header_title {
	display:inline-block;
	float:left;
	width:auto;
	height:30px;
	line-height:30px;
	padding-left:20px;
  font-size:13px;
  color:#ffffff;
  overflow:hidden;  
}

.dialog > .header >.close {
  float:right;
  background-color:#5CC8E0;
  width:30px;
  height:30px;
  line-height:30px;
  color:#ffffff;
  text-align:center;
  opacity: 1 !important;
  font-weight: normal !important;
  font-size: 34px;
}

.dialog >.body{margin-left:auto;margin-right:auto;font-size:13px;overflow:hidden}

.dialog > .footer {
	background-color:#EFEFEF;
	width:100%;
	height:50px;
	}
.dialog >.footer >.error {
	display:inline-block;
	height:50px;
	line-height:50px;
	color:red;
	text-align:left;
	}
.dialog >.footer >.tip {
	display:inline-block;
	height:50px;
	line-height:50px;
	color:#78CDD0;
	text-align:left;
	}		
.dialog > .footer >.button_group {
   height:30px;
   width:140px;
   float:right;
   margin-right:15px;
   margin-top:10px;
   font-size:13px;
   color:#ffffff;
}	

	
.dialog > .footer >.button_group >.button {
   background-color:#78CDD0;
   height:30px;
   line-height:30px;
   width:60px;
   display:inline-block;
   text-align:center;
   cursor: pointer;
   
}	

.dialog > .body .normal_text {
	display:inline-block;
	height:40px;
	line-height:40px;
	}

#create_mode_applay >.body .device_exception_title {
	background-color:#78CDD0;
	width:100%;
	height:30px;
	line-height:30px;
	text-align:center;
	font-size:13px;
	color:#ffffff;
	}

.dialog >.body .device_group_tree {
	display:inline-block;
	width:220px;
	height:530px;
	font-size:13px;
	}	
	
.dialog >.body .device_exception_table {
	float:right;
  display:inline-block;
	width:670px;
	height:530px;
	background-color:#E8E8E8;
	font-size:13px;
}	
.dialog >.body  .device_exception_table  > .device_name
{
	height:30px;
	line-height:30px;
	
}
.dialog >.body .device_exception_table >.device_name >span
{
	height:30px;
	line-height:30px;
	margin-left:10px;
}

.dialog >.footer >.error {
	display:inline-block;
	height:50px;
	line-height:50px;
	color:red;
	text-align:left;
	}


.button {
	 background-color:#78CDD0;
   color:#ffffff;
   height:30px;
   line-height:30px;
   width:60px;
   display:inline-block;
   text-align:center;
   font-size:13px;
   cursor: pointer;
 	}

#create_mode_apply table {text-align:center;border:0px}


#create_mode_apply th{
	background-color:#999999;
	color:#ffffff;
}

#create_mode_apply >.body {width:90%;}

#create_mode_apply th.device {width:280px} 
#create_mode_apply th.mode_name {width:170px}
#create_mode_apply th.action {width:130px} 
#create_mode_apply select {width:140px}
#create_mode_apply tr.even {background-color:#E8E8E8}
#create_mode_apply tr.odd {background-color:#FAFAFA}