/*ϵͳ����CSS*/

.userMode {
	margin-top: 22px;
	padding-left: 12px;
}

.btn1 {
	float: left;
}

.btn1 ~ div{
	float: left;
	margin-left: 20px;
}

.btnStyle {
	width: 171px;
	height: 42px;
	line-height: 42px;
	font-size: 20px;
	border-radius: 6px;
	background-color: #9e9e9e;
	text-align: center;
}

.btnStyle a {
	color: #fff;
}

.user_control {
	margin-top: 30px;
	margin-left: 0px !important;
	position: relative;
}

.btn_group1 {
	float: left;
	margin-left: 42px;
}

.btn_group1 div{
	float: left;
	margin-left: 12px;
}

.sm_btn {
	width: 90px;
	height: 33px;
	border-radius: 6px;
	text-align: center;
	background: #39a6ad;
	color: #fff;
	line-height: 33px;
	font-size: 16px;
	cursor: pointer;
}

.state_search {
	margin-left: 0px !important;
}

.disshow {
	margin-left: 0 !important;
}

.disshow +li {
	margin-top: 0px !important;
}

.disshow ~ li {
	height: 38px;
	line-height: 33px;
	color: #fff;
	background-color: #66ccff;
	margin-top: 1px;
	display: none;
	cursor: pointer;
}

.btn_group2 {
	float: right;
	margin-right: 50px;
}

.btn_group2 div {
	float: left;
	margin-right: 10px;
}

.btn_style2 {
	width: 95px;
	height: 33px;
}

.user_info {
	margin-top: 33px;
	margin-left: 40px !important;
}

.table_width {
	width: 93%;
	background-color: #fff;
}

.user_table {
	border-top: 0px;
	margin-right: 5%;
}

.user_table tr {
    height: 34px;
}

.user_table thead tr {
    background-color: #999
}

.user_table thead tr th {
    color: #fff;
    font-size: 16px;
    font-weight: normal !important;
}

.user_table tbody tr:nth-child(odd) {
   background-color: #E4E4E4;
}

.user_table tbody tr:nth-child(even) {
    background-color: #f2f2f2 ;
}

.table_head th{
	padding-top: 28px; 
}

.table th, .table td {
	/*border-top: 0px !important;*/
	/*border-bottom: 1px solid #ddd !important;*/
	color: #333;
	font-size: 16px;
    border: 1px solid #fff;
    text-align: center !important;
    vertical-align: middle !important;
    background:transparent !important;
}

.highLight {
	background-color: #0088cc;
}

.ui-dialog {
	padding: 0 !important;
	border: 0 !important;
	border-radius: 6px !important;
	font-family: "Roboto","Microsoft YaHei","SimSun","����","Arial Narrow",HELVETICA;
}

#dialog-modal {
	overflow: visible !important;
}

.dialog_content1 {
	height: 280px;
	line-height: 280px;
	padding-left: 200px;
	color: #656466;
	font-size: 15px;
}

#dialog-modal2 {
	overflow: visible !important;
}

#dialog-modal2 > .modal_btn {
	margin: 10px 0 20px 0;
}

.dialog_content2 {
    width: 95%;
    margin: 10px auto;
	height: 350px;
	color: #656466;
	font-size: 15px;
}

.dialog_content2 .job_input {
	height: 30px;
	line-height: 30px;
}

.dialog_content2 .job_input>*{
	float: left;
}

.dialog_content2 .permission_select {
	width: 690px;
	height: 200px;
	margin-top: 5px;
}

.dialog_content2 >.permission_select >div{
	width: 130px;
	height: 35px;
	line-height: 35px;
	text-indent: .3em;
	color: #fff;
	font-size: 17px;
	background-color: #d7d7d7;
	margin:20px 0 0 20px;
	float: left;
	cursor: pointer;
}


#ui-id-3 {
	padding-left: 15px;
}

.permission_select >div >p {
	float: left;
	text-indent: 0.5em;
    font-size: 16px;
    line-height: 35px;
    padding: 0px;
}

.permission_select>div>span {
	font-size: 29px;
	color: #ff9933;
	display: none;
	float: right;
	margin-right: 5px;
}

.changeBg {
	background-color: #39a6ae !important;

}

#dialog-modal1 {
	overflow: visible !important; 
	background-color: #f2f2f2;
	height: 364px !important;
}

.ui-dialog-titlebar {
	height: 44px !important;
	line-height: 44px;
	padding: 0 !important;
	background-image: none !important;
	background-color: #66ccff;
}

.ui-dialog-titlebar span{
	color: #fff;
	font-size: 16px;
}

.ui-corner-all {
	border-radius: 0px !important;
}

#ui-id-1 {
	padding-left: 30px;
}

.popover1 {
	padding: 0 !important;
}

.register {
	font-size: 14px;
	width: 70%;
}

.register tr {
	height: 45px;
}

.register input {
	height: 30px;
	padding: 0px !important;
}

hr {
	border: 0 !important;
	border-top: 1px solid #999 !important;
}

.content_title {
	margin-left: 23px !important;
	margin-top: 27px;
	color: #666;
}

.content_title *{
	float: left;
}

.content_title span {
	line-height: 40px;
	margin-left: 10px;
}

.division_line {
	width: 90%;
	height: 1px;
	background-color: #ccc;
	margin: 24px 0 0 20px;
}

.short {
	width: 85%;
}

.slide_module {
	position: relative;
	height: 180px;
	width: 100%;
	margin-left: 35px !important;
} 

.total_job {
	margin-left: 0 !important;
	margin: 10px 0 40px 0;
	height: 150px;
	overflow: hidden;
	position: relative;
}

.swap_module>div {
	width: 260px;
	height: 150px;
	background-color: #fff;
	color: #fff;
	float: left;
	position: relative;
	margin-left: 10px;
}

.job {
	height: 40px;
	width: 100%;
	line-height: 40px;
	background-color: #86d3d5 ;
	position: relative;
}

.job p, .permission_title p{
	padding-left: 10px;
	font-size: 22px;
	float: left;
}

.del_btn {
	width: 26px;
	height: 26px;
	background: url("../images/cancel.png");
	/*position: absolute;*/
	float: right;
	margin: 7px 10px 0 0;
	cursor: pointer;
}

.edit_btn {
    width: 26px;
    height: 26px;
    background: url("../images/edit_pen.png");
    /*position: absolute;*/
    float: right;
    margin: 7px 10px 0 0;
    cursor: pointer;
}

.permission {
	height: 90%;
	width: 90%;
	margin: 5px auto;
	position: relative;
}

.permission li {
	width: 50%;
	color: #333;
	float: left;
	font-size: 14px;
}

.choose {
	width: 62px;
	height: 50px;
	background: url("../images/okicon.png");
	position: absolute;
	top: 54px;
	left: 183px;
	display: none;
}

.special {
	width: 220px !important;
	height: 150px;
	background-color: #ccc !important;
	cursor: pointer;
	margin-left: 18px;
}

.cross {
	text-align: center;
	padding-top: 60px;
	font-size: 80px;
	color: #fff;
}

.funcBtn {
	width: 27px !important;
	background-color: #f2f2f2 !important;
	height: 150px;
	color: #fff;
	position: absolute;
	left: 1850px;
}

.funcBtn img {
	cursor: pointer;
}

.bottom_btn {
	margin-top: 72px;
}

.highLight2 {
	background-color: #ff9933 !important;
}

.permission_detail {
	margin-left: 0px !important;
	display: none;
}

.permission_detail>div {
	width: 360px;
	height: 228px;
	background-color: #fff; 
	float: left;
	margin: 15px 6px 0 15px;
}

.permission_title {
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #fff;font-size: 16px;
}

.permission_detail table {
	color: #333;
	margin: 10px auto;
	width: 90%;
}

.permission_detail table tr {
	height: 40px;
	background-color: #e7e7e7;
	border: 1px solid #fff;
}

.permission_detail  td{
	text-align: center;
}

.okicon {
	width: 18%;
	background-color: #dfdfdf;
	font-size: 22px;
	color: #fff;
	cursor: pointer;
}

.press {
	color: #ff9900;
}

.press2 {
	background-color: #ff9900 !important;
}

.func_des {
	width: 26%;
	border-right: 1px solid #fff;
	font-size: 14px;
}

.per1 {
	background-color: #e66e4c;
}

.per2 {
	background-color: #26c3bc;
}

.per3 {
	background-color: #55aaff;
}

.per4 {
	background-color: #faab35;
}

.per5 {
	background-color: #469fe3;
}

.per6 {
	background-color: #cc99cc;
}

.per7 {
	background-color: #ff99cc;
}

.per8 {
	background-color: #5cc8e4;
}

.per9 {
	background-color: #55c982;
}

.popnav {
	width: 180px;
	height: 550px;
	float: left;
/**	margin-top: 10px; */
}

.sub_popnav{
	width: 180px;
	height: 30px;
	margin-top: 1px;
}

.sub_popnav * {
	float: left;
	line-height: 30px;
	background-color: #e7e7e7;
}

.okicon_2 ~div {
	width: 140px;
}

.sub_popnav p {
	color: #333333;
	font-size: 14px;
	padding-left: 15px;

}

.okicon_2 {
	width: 40px;
	height: 30px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	background-color: #dfdfdf;
	cursor: pointer;
}

.okicon_2:hover{
	background-color: #ff9900;
}

.blank {
/**	height: 73%;*/
    height: 100%;
	margin-top: 1px;
	background-color: #e7e7e7;
}

.right_content {
	width: 686px;
	float: right;
	margin-top: 10px;
}

.top_nav {
	width: 100%;
	height: 30px;
	position: relative;
	margin: 0 auto;
}

.top_nav >*{
	float: left;
}

.top_nav img{
	margin-top: 9px;
}

.module_choice>li {
	float: left;
}

.module_choice>li>div {
	width: 100px;
	height: 25px;
	line-height: 25px;
	margin-left: 5px;
	text-align: center;
	border-radius: 5px;
	color: #336666;
}

.module_choice>li>div:hover {
	background-color: #39aea6;
	color: #fff;
}

.select_table {
	width: 100%;
	height: 435px;
	background-color: #f2f2f2;
	padding-top: 6px;
}

.right_content table {
	
	width: 97%;
	
	border: 1px;
	background-color: #f2f2f2;
	text-indent: 1em;
	margin: 10px auto;
}

.right_content th {
	background-color: #999;
	border: 1px solid #fff;
	text-align: left;
	color: #fff;
}

.right_content td{
	border: 1px solid #fff;
}

.device_title {
	width: 99px;
}

.page_title {
	width: 288px;
}

.operation {
	width: 278px;
}

.mult_select *{
	float: left;
}

.mult_select span {
	margin-right: 15px;
	text-indent: 0.5em;
}

.first_tr {
	height: 26px;
}

.first_tr ~ tr {
	height: 50px;
	width: 100%;
	font-size: 14px;
	color: #666;
}

.changeColor {
	background-color: #e4e4e4;
}

.btn_include {
	width: 100%;
	background-color: #f2f2f2;
	height: 55px;
}

.modal_btn2 {
	margin-top: 10px;
}

/*123*/

.dialog_content3 {
    height: 300px;
    width: 523px;
    margin: 29px auto;
}

.left_user, .right_user {
	width: 204px;
	height: 280px;
	border: 1px solid #999;
}

.dialog_content3 > *{
	float: left;
}

.operator {
	width: 110px;
	height: 100px;
	text-align: center;
	margin-top: 82px;
}

.dialog_content3 li {
	width: 100%;
	height: 20px;
	line-height: 20px;
	list-style: none !important;
}

.operator > div {
	width: 85px;
	height: 30px;
	background-color: #31c6bf;
	margin: 0 auto 25px;
    cursor: pointer;
}

.operator i {
	height: 25px;
	width: 30px;
	display: inline-block;
}

.ui-dialog-title {
	padding-left: 15px;
}

.move_left > i {
	background:url("../images/all_icon.png") -571px -218px no-repeat;
}

.move_right > i {
	background:url("../images/all_icon.png") -613px -218px no-repeat;
}

.bgjs {
	background-color: #00f;
	color: #fff;
}

/**/
.jcarousel-skin-tango .jcarousel-container-vertical {
	width: 100%;
	height: 150px;
	padding: 0;
}

.jcarousel-skin-tango .jcarousel-item {
	width: auto;
	height: 150px;
}

.jcarousel-skin-tango {
	width: 100%;
	float: left;
}

.jcarousel-container {
	width: 100% !important;
	border: 0 !important;
}

.jcarousel-clip-vertical {
	width:100% !important;
}

.jcarousel-item {
	width: auto !important;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
height: 150px;
}

.jcarousel-skin-tango {
	height: 150px
}

.left_btn {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10000
}

.right_btn {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10000
}

.mask {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 1080px;
    z-index: 1000;
    background-color: #AAA;
    opacity: 0.95;
    display: none;
}

.dialog-popover {
    width: 630px;
    height: auto;
    margin: 104px auto;
    background-color: #FFF;
    display: none;
}

.dialog-header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #26C3BC;
}

.dialog-popover p {
    float: left;
    line-height: 50px;
    padding-left: 15px;
    font-size: 24px;
    color: #FFF;
}

.dialog-close {
    width: 50px;
    height: 50px;
    background-color: #30D7CF;
    text-align: center;
    line-height: 50px;
    color: #FFF;
    font-size: 34px;
    float: right;
    cursor: pointer;
}

.dialog-content {
	overflow: hidden;
    height: auto;
    width: 100%;

}

.dialog-footer {
    width:100%;
    height:50px;
    background-color:#efefef;
}

.modal_btn_2 {

}

.dialog-btn {
    width: 90px !important;
    height: 35px;
    background-color: #78CDD0;
    line-height: 35px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    float: right;
    font-size: 16px;
    margin-top: 11px;
    border: 0;
    margin-right: 10px;
    border-radius: 4px !important;
    font-family: "微软雅黑";
}

.confirm-dialog {
    width:100%;
    text-align: center;
    height: 70px;
    line-height: 70px;
    font-size: 22px;
    color: #656466;
}

.table-bordered {
    width: 90%;
}

.table-bordered tbody tr:nth-child(odd) {
    background-color: #e4e4e4;
}

.table-bordered td, .table-bordered th {
    padding: 8px;
    font-size: 16px;
}

.table-bordered td {
    color: #333;
}

.table-bordered th {
    color: #fff;
}

.dialog-roleselect {
	width : 800px;
}


