.a_control_css {
	color: blue;
}

.tableMargin {
	margin: 3px 0 0 30px;
}

.selectCss {
	height: 150px !important; width: 205px; font-size: 19px;
}

.input_style {
	width: 204px;
}

.btnMargin {
	margin-left: 33px;
}

.eventList {
	margin: -3px 0 11px 0;
	font-size: 16px;
	font-family: 微软雅黑;
}

.creat_btn{
	margin-top:10px;
	margin-left:40px;
	text-align: center; 
	height: 30px; 
	width: 100px; 
	background: #A9D18E;
}

.link_font{
	font-size:21px;
}

.striped_color>tbody>tr:nth-child(odd)>td {
	background-color: #D2DEEF;
}

.label_style {
	text-align: center;
}

.table_style{
	width: 90%;
	margin-top: 20px;
}

table thead tr {
	background-color: #999999;
	height: 34px;
	line-height: 34px;
	color: #FFF;
}

.input_style  {
	width: 400px;
	height: 25px;
	width: 100%;
}

.add_cell {
/* 	border: 5px double rgb(69, 159, 226); */
	background-color: white;
	width: 574px;
/* 	position: fixed; */
/* 	top: 45%; */
/* 	left: 40%; */
	display:none;
}

.confirm_btn{
	margin-left: 35%;
	font-size: 15px;
	width: 60px;
}
	
.cancel_btn{
	margin-left: 80px;
	font-size: 15px;
	width: 60px;
}

/** 重新设置MODEL样式 */
.modal {
	width:600px;	
/* 	left:40%; */
}
.modal-header {
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #78CDD0;
	padding:0px;
	
}

.modal-header .dialog-title {
	color:#ffffff;
	font-size:24px;
	font-weight:normal;	
	padding-left:15px;
}

.modal-header .dialog-close {
	width: 50px;
	height: 50px;
	background-color: #5CC8E0;
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-size: 34px;
	float: right;
	cursor: pointer;
}

.modal-body {
	height: 448px;
	overflow-y: visible;
}

.modal-footer {
	height:30px;
	padding:10px 15px;
}
.modal-footer .btn {
	background: #78CDD0;
	cursor: pointer;
	text-align: center;
	color: #fff;
	float: right;
	font-size: 15px;
}

.timeline {
	width: 100px;
	float: right;
	text-align: right;
}

.jsCss {
	width: 451px;
	height: 150px;
	margin: 0px 0px 10px;
}

.inputCss {
	width: 178px;
}

.actionCss {
	width: 180px; margin-top: 10px;
}

.rightText {
	text-align: right;
}

.radioCss {
	margin-bottom: 8px !important;
}

.pCss {
	float: left;
	margin: 6px 10px 0 0px;
}

#actionType0 select {
	margin-bottom: 0px;
}

.liCss {
	background-color: #EFEFEF;
}

#actionTable select {
	width: 100px;
}

.checkboxCss {
	zoom: 170%;
	margin: 5px 5px 5px 9px !important;
}

.input_width {
	width: 617px;
}

.input_desc {
	margin-top: 8px;
}

.desc_padding {
	padding-left: 6px;
}

.condexp_css {
	margin-top: 10px;
	width: 611px; 
	height: 98px;
}

.linkageDiv {
	overflow: auto; 
	height: 357px; 
	width: 247px;
}






